<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Mostrar usuario</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/Home" class="btn btn-success back"><i class="fas fa-arrow-circle-left"></i> Atrás</a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered table-content">
                <tbody>
                    <tr>
                        <td><label><b>Nombre</b></label></td>
                        <td><span>{{ userDetail.nombre }}</span></td>
                    </tr>
                    <tr>
                        <td><label><b>Apellido</b></label></td>
                        <td><span>{{ userDetail.apellido }}</span></td>
                    </tr>
                    <tr>
                        <td><label><b>Nombre de usuario</b></label></td>
                        <td><span>{{ userDetail.username }}</span></td>
                    </tr>
                    <tr>
                        <td><label><b>Email</b></label></td>
                        <td><span>{{ userDetail.email }}</span></td>
                    </tr>
                    <tr>
                        <td><label><b>Teléfono</b></label></td>
                        <td><span>{{ userDetail.telefono }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>