<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <!-- 1º Columna: Productos -->
      <div class="col-md-2">
        <h5><a href="/productos" style="color: #ffc200;">Productos</a></h5>
        <ul class="list-unstyled">
          <li><a href="/productos/pizzas" style="color: #ffc200;">Pizzas</a></li>
          <li><a href="/productos/pastas" style="color: #ffc200;">Pastas</a></li>
          <li><a href="/productos/complementos" style="color: #ffc200;">Complementos</a></li>
          <li><a href="/productos/bebidas" style="color: #ffc200;">Bebidas</a></li>
          <!-- Agrega más categorías según sea necesario -->
        </ul>
      </div>

      <!-- 2º Columna: Políticas -->
      <div class="col-md-2">
        <h5 style="color: #ffc200;">Políticas</h5>
        <ul class="list-unstyled">
          <li><a href="#" style="color: #ffc200;">Política de privacidad</a></li>
          <li><a href="#" style="color: #ffc200;">Aviso legal</a></li>
          <li><a href="#" style="color: #ffc200;">Tabla de alérgenos</a></li>
        </ul>
      </div>

      <!-- 3º Columna: Sobre nosotros -->
      <div class="col-md-2">
        <h5 style="color: #ffc200;">Sobre nosotros</h5>
        <ul class="list-unstyled">
          <li><a href="/about-us" style="color: #ffc200;">Acerca de</a></li>
          <li><a href="/contacto" style="color: #ffc200;">Contacto</a></li>
          <li><a href="/valoraciones" style="color: #ffc200;">Valóranos</a></li>
        </ul>
      </div>

      <!-- 4º Columna: Envíos y devoluciones -->
      <div class="col-md-3">
        <h5 style="color: #ffc200;">Envíos y devoluciones</h5>
        <ul class="list-unstyled">
          <li><a href="#" style="color: #ffc200;">Gastos de envío</a></li>
          <li><a href="#" style="color: #ffc200;">Cómo comprar</a></li>
          <li><a href="/condiciones-generales" style="color: #ffc200;">Condiciones generales</a></li>
        </ul>
      </div>

      <!-- 5º Columna: Subscríbete a nuestro newsletter -->
      <div class="col-md-3">
        <h5 style="color: #ffc200;">Subscríbete a nuestro newsletter</h5>
        <form id="newsletterForm" action="/subscribe" method="post">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Correo electrónico" name="email" required>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" style="background-color: #ffc200; border-color: #ffc200;"><i class="fas fa-paper-plane" style="color: #fff;"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Iconos de redes sociales -->
    <div class="row mt-3">
      <div class="col text-center">
        <p style="color: #ffc200;">Síguenos:</p>
        <a href="#" class="social-icon mx-2" style="color: #ffc200;"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="social-icon mx-2" style="color: #ffc200;"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="social-icon mx-2" style="color: #ffc200;"><i class="fab fa-youtube fa-lg"></i></a>
      </div>
    </div>
    <!-- Cuadro de texto con derechos de autor -->
    <div class="row mt-3">
      <div class="col text-center">
        <div class="footer-text text-center">
          <p style="background-color: #343a40; color: #fff; padding: 10px 0;">© 2024 INEFFABILE PIZZA, Inc. Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </div>
</footer>
