<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <!-- 1º Columna: Productos -->
      <div class="col-md-2">
        <h5><a href="/productos">Productos</a></h5>
        <ul class="list-unstyled">
          <li><a href="/productos/pizzas">Pizzas</a></li>
          <li><a href="/productos/pastas">Pastas</a></li>
          <li><a href="/productos/complementos">Complementos</a></li>
          <li><a href="/productos/bebidas">Bebidas</a></li>
          <!-- Agrega más categorías según sea necesario -->
        </ul>
      </div>

      <!-- 2º Columna: Políticas -->
      <div class="col-md-2">
        <h5>Políticas</h5>
        <ul class="list-unstyled">
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Aviso legal</a></li>
          <li><a href="#">Tabla de alérgenos</a></li>
        </ul>
      </div>

      <!-- 3º Columna: Sobre nosotros -->
      <div class="col-md-2">
        <h5>Sobre nosotros</h5>
        <ul class="list-unstyled">
          <li><a href="/about-us">Acerca de</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/valoraciones">Valóranos</a></li>
        </ul>
      </div>

      <!-- 4º Columna: Envíos y devoluciones -->
      <div class="col-md-3">
        <h5>Envíos y devoluciones</h5>
        <ul class="list-unstyled">
          <li><a href="#"></a>Gastos de envío</a></li>
          <li><a href="#">Cómo comprar</a></li>
          <li><a href="/condiciones-generales">Condiciones generales</a></li>
        </ul>
      </div>

      <!-- 5º Columna: Subscríbete a nuestro newsletter -->
      <div class="col-md-3">
        <h5>Subscríbete a nuestro newsletter</h5>
        <form id="newsletterForm" action="/subscribe" method="post">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Correo electrónico" name="email" required>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" style="background-color: #ffc200; border-color: #ffc200;"><i class="fas fa-paper-plane" style="color: #fff;"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Iconos de redes sociales -->
    <div class="row mt-3">
      <div class="col text-center">
        <p>Síguenos:</p>
        <a href="#" class="social-icon mx-2"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="social-icon mx-2"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="social-icon mx-2"><i class="fab fa-youtube fa-lg"></i></a>
      </div>
    </div>
    <!-- Cuadro de texto con derechos de autor -->
    <div class="row mt-3">
      <div class="col text-center">
        <div class="footer-text text-center">
          <p style="background-color: #343a40; color: #fff; padding: 10px 0;">© 2024 INEFFABILE PIZZA, Inc. Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </div>
</footer>
