<!-- views/partials/navbar.ejs -->
<style>
  .navbar {
    position: fixed; /* Hace el navbar fijo */
    top: 0; /* Se queda en la parte superior */
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 120px; /* Altura reducida del navbar */
    background: linear-gradient(to right, #ff925f, #feb47b, #fcd8ba);
    background-size: 200% 100%;
    animation: gradientAnimation 5s ease infinite alternate-reverse;
    z-index: 1000; /* Asegura que el navbar se mantenga por encima de otros elementos */
  }

  .navbar-brand img {
    height: 100px; /* Altura ajustada del logo */
    width: auto; /* Mantiene la proporción del logo */
  }

  .navbar-search input {
    width: 300px; /* Ancho reducido del input de búsqueda */
  }

  .separator {
    border-right: 1px solid #000000;
    padding-right: 5px;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Agrega espacio a la izquierda */
  }

  .navbar-search button {
    background-color: transparent;
    border: none;
    margin-left: -40px; /* Ajusta el margen para superponer el icono de búsqueda en el input */
  }

  #navbarDropdown {
    margin-left: 60px;
    margin-right: 20px;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

</style>

<div style="height: 120px;"></div> <!-- Div vacío para compensar la altura del navbar fijo -->

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <h1 class="navbar-title"></h1>
    <a class="navbar-brand" href="/">
      <img src="/images/logo3_modified.png" alt="Logo" width="200" height="200">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 navbar-search" id="searchForm" action="/api/v2/productos/buscar" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos..." aria-label="Buscar" id="searchQuery" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Productos</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/promociones" style="text-decoration: underline;">Promociones</a>
            <a class="dropdown-item" href="/productos/pizzas">Pizzas</a>
            <a class="dropdown-item" href="/productos/pastas">Pastas</a>
            <a class="dropdown-item" href="/productos/complementos">Complementos</a>
            <a class="dropdown-item" href="/productos/bebidas">Bebidas</a>
          </div>
        </li>
        <!-- Nuevo elemento para el enlace "Acerca de" -->
        <li class="nav-item">
          <a class="nav-link" href="/about-us">
            <i class="fas fa-info-circle" style="color: #000000;"></i> <b>Sobre Nosotros</b>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item separator">
          <a class="nav-link" href="/usuarios/personal-area">
            <i class="fas fa-user fa-2x" style="color: #000000;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">
            <i class="fas fa-shopping-cart fa-2x" style="color: #000000;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>

<script>
  document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const query = document.getElementById('searchQuery').value;
    window.location.href = `/resultados?query=${encodeURIComponent(query)}`;
  });

  document.addEventListener('DOMContentLoaded', function () {
    var searchInput = document.getElementById('searchQuery')
    var searchButton = document.getElementById('searchBtn')

    searchInput.addEventListener('input', function () {
        if (searchInput.value.trim() !== '') {
            searchButton.style.display = 'none'
        } else {
            searchButton.style.display = 'block'
        }
    })
  })
</script>