<!-- views/partials/navbar.ejs -->
<link rel="stylesheet" href="/css/navbar.css">

<div style="height: 120px;"></div> <!-- Div vacío para compensar la altura del navbar fijo -->

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <h1 class="navbar-title"></h1>
    <a class="navbar-brand" href="/">
      <img src="/images/logo3_withoutSlogan.png" alt="Logo" width="200" height="200">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto" id="uele">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 navbar-search" id="searchForm" action="/api/v2/productos/buscar" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos..." aria-label="Buscar" id="searchQuery" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Productos</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/promociones" style="text-decoration: underline;"><i class="fa-solid fa-tags"></i> Promociones</a>
            <a class="dropdown-item" href="/productos/pizzas">Pizzas</a>
            <a class="dropdown-item" href="/productos/pastas">Pastas</a>
            <a class="dropdown-item" href="/productos/complementos">Complementos</a>
            <a class="dropdown-item" href="/productos/bebidas">Bebidas</a>
          </div>
        </li>
        <!-- Nuevo elemento para el enlace "Acerca de" -->
        
        <li class="nav-item">
          <a class="nav-link" href="/carta" target="_blank">
            <i class="fa-solid fa-sheet-plastic" style="color: #000000;"></i> <b>Carta</b>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about-us">
            <i class="fas fa-info-circle" style="color: #000000;"></i> <b>Sobre Nosotros</b>
          </a>
        </li>

      </ul>


      <ul class="navbar-nav ml-auto">
        <li class="nav-item separator">
          <a class="nav-link" href="/usuarios/personal-area">
            <i class="fa-solid fa-user fa-2x" style="color: #000000;"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">
            <i class="fa-solid fa-shopping-cart fa-2x" style="color: #000000;"></i>
            <span id="cartItemCount" class="badge bg-danger position-absolute top-55 start-80 translate-middle">0</span>
          </a>          
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>
<script>
// Función para obtener la cantidad de productos en el carrito desde el servidor y actualizar el contador
  async function updateCartItemCount() {
    try {
      const response = await fetch('/obtener-cantidad-carrito');
      if (response.ok) {
        const { itemCount } = await response.json();
        const cartItemCountElement = document.getElementById('cartItemCount');
        if (cartItemCountElement) {
          cartItemCountElement.textContent = itemCount;
          cartItemCountElement.style.display = itemCount > 0 ? 'inline-block' : 'none';
        }
      }
    } catch (error) {
      console.error('Error al obtener la cantidad de productos en el carrito:', error);
    }
  }


  document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const query = document.getElementById('searchQuery').value;
    window.location.href = `/resultados?query=${encodeURIComponent(query)}`;
  });

  document.addEventListener('DOMContentLoaded', function () {
    updateCartItemCount();
    var searchInput = document.getElementById('searchQuery')
    var searchButton = document.getElementById('searchBtn')


    searchInput.addEventListener('input', function () {
        if (searchInput.value.trim() !== '') {
            searchButton.style.display = 'none'
        } else {
            searchButton.style.display = 'block'
        }
    })
  })
</script>