<!-- views/partials/navbar.ejs -->
<style>
  .separator {
    border-right: 1px solid #ccc;
    padding-right: 5px;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Agrega espacio a la izquierda */
  }

  /* Ancho personalizado para la barra de búsqueda en el navbar */
  .navbar-search input {
    width: 450px;
    border: 1px solid #ccc; /* Agrega un borde al input */
    border-radius: 20px;
    padding: 5px 10px; /* Ajusta el relleno para un mejor aspecto */
  }

  /* Estilo para el botón de búsqueda en el navbar */
  .navbar-search button {
    background-color: transparent;
    border: none;
    margin-left: -40px; /* Ajusta el margen para superponer el icono de búsqueda en el input */
    border-radius: 20px;
  }

  #navbarDropdown{
    margin-left: 60px;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <h1 class="navbar-title"></h1>
    <a class="navbar-brand" href="/">
      <img src="/images/logo3.png" alt="Logo" width="180" height="180">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 navbar-search">
            <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Promociones</a>
            <a class="dropdown-item" href="#">Pizzas</a>
            <a class="dropdown-item" href="#">Pastas</a>
            <a class="dropdown-item" href="#">Postres</a>
            <a class="dropdown-item" href="#">Bebidas</a>
          </div>
        </li>
        <!-- Nuevo elemento para el enlace "Acerca de" -->
        <li class="nav-item">
          <a class="nav-link" href="/about-us">
            <i class="fas fa-info-circle"></i> Sobre Nosotros
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item separator">
          <a class="nav-link" href="/usuarios/login-register">
            <i class="far fa-user fa-2x"></i>
          </a>
        </li>
        <li class="nav-item separator">
          <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wa.me/1234567890" target="_blank">
            <i class="fab fa-whatsapp fa-2x" style="color: green;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
