<!-- views/partials/navbar.ejs -->
<style>
  .separator {
    border-right: 1px solid #ccc; /* Línea separadora gris */
    padding-right: 5px; /* Ajuste para agregar espacio después de la línea */
  }

  /* Ancho personalizado para la barra de búsqueda en el navbar */
  .navbar-search input {
    width: 450px; /* Ajusta según sea necesario */
  }

  /* Estilo para el botón de búsqueda en el navbar */
  .navbar-search button {
    min-width: 60px; /* Ajusta según sea necesario */
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo en la parte superior izquierda -->
    <a class="navbar-brand" href="/">
      <img src="04691e67-3cc2-4a99-807b-00e6432e54e3.png" alt="Logo" width="100" height="100">
    </a>

    <!-- Botón de hamburguesa para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto"> <!-- Centrar los elementos -->
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 d-flex navbar-search">
            <!-- Buscador con icono de lupa -->
            <input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
      </ul>

      <!-- Iconos en la parte superior derecha -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item separator">
          <a class="nav-link" href="#">
            <i class="fas fa-user fa-2x"></i>
          </a>
        </li>
        <li class="nav-item separator">
          <a class="nav-link" href="#">
            <i class="fas fa-shopping-cart fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wa.me/1234567890" target="_blank">
            <i class="fab fa-whatsapp fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
