<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Nuevo Producto</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/Home" class="btn btn-success back"><i class="fas fa-arrow-circle-left"></i> Atrás</a>
                    </div>
                </div>
            </div>
            <form #productForm="ngForm">
                <div class="table-content">
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="nombre" class="p-t-b-10">Nombre<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nombre" required maxlength="255" [(ngModel)]="addProductForm.nombre" name="nombre" #nombre="ngModel">
                            <div *ngIf="nombre.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!nombre.errors?.['required']">
                                    Nombre es un campo obligatorio
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="descripcion" class="p-t-b-10">Descripción<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="descripcion" required maxlength="255" [(ngModel)]="addProductForm.descripcion" name="descripcion" #descripcion="ngModel">
                            <div *ngIf="descripcion.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!descripcion.errors?.['required']">
                                    Descripción es un campo obligatorio
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="precio_pvp" class="p-t-b-10">Precio PVP<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="precio_pvp" required maxlength="255" [(ngModel)]="addProductForm.precio_pvp" name="precio_pvp" #precio_pvp="ngModel">
                            <div *ngIf="precio_pvp.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!precio_pvp.errors?.['required']">
                                    Precio PVP es un campo obligatorio
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label class="p-t-b-10">Precio Oferta</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="precio_oferta" maxlength="255" [(ngModel)]="addProductForm.precio_oferta" name="precio_oferta" #precio_oferta="ngModel">
                        </div>
                    </div>
                    
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="categoria_nombre" class="p-t-b-10">Categoria<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="categoria_nombre" required maxlength="255" [(ngModel)]="addProductForm.categoria_nombre" name="categoria_nombre" #categoria_nombre="ngModel" pattern="^[^\s]+$">
                            <div *ngIf="categoria_nombre.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!categoria_nombre.errors?.['required']">
                                    Categoria es un campo obligatorio
                                </div>
                            </div>
                        </div>
                    </div>        
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="imagen1" class="p-t-b-10">URL de la Imagen</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="imagen1" [(ngModel)]="addProductForm.imagen1" name="imagen1">
                        </div>
                    </div>                            
                </div>
                <div class="table-footer">
                    <button class="btn btn-success" (click)="AddProduct(productForm.form.valid)">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>