<!-- views/about-us.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nosotros - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Flamenco&display=swap" rel="stylesheet">
  <!-- Agregar cualquier otro estilo necesario -->
</head>
<style>
    #slogan {
      font-family: 'Flamenco', cursive; /* Aplica la fuente Flamenco al div del eslogan */
    }

    /* Opcional: si deseas que el resto del texto tenga una fuente diferente, puedes aplicarla a nivel global */
    body {
      font-family: Arial, sans-serif; /* Otra fuente para el resto del texto */
    }

    img{
      border-radius: 10px;
    }
</style>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de la página Sobre Nosotros -->
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="/images/about-us1.jpg" class="img-fluid" alt="Imagen 1">
      </div>
      <div class="col-md-6">
        <h2>Quiénes Somos</h2>
        <p>Somos Ineffabile Pizza, una pizzería familiar con una tradición arraigada que se remonta a 1892 en el encantador pueblo de Villena, Alicante. Desde hace más de un siglo, nos hemos dedicado a deleitar los paladares de nuestra comunidad con la auténtica experiencia de la pizza italiana. Con cada generación que pasa, hemos perfeccionado nuestro arte culinario, preservando los secretos de nuestras recetas familiares y utilizando solo los ingredientes más frescos y de la más alta calidad. Desde la masa crujiente hasta la salsa de tomate casera, cada pizza que sale de nuestro horno lleva consigo el amor y la dedicación de nuestra familia.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <h2>Nuestra Historia</h2>
        <p>Nuestra historia es una narrativa de amor por la auténtica pizza italiana. En el año 1892, nuestros bisabuelos dieron vida a Ineffabile Pizza en la bulliciosa calle Sax. Desde entonces, cada generación ha llevado adelante el legado familiar, convirtiendo nuestra pizzería en un símbolo de tradición y excelencia gastronómica en Villena. A lo largo de los años, hemos honrado la herencia de nuestros antepasados, refinando constantemente nuestras recetas y técnicas de cocina para ofrecer una experiencia culinaria incomparable. En cada rebanada de pizza, se puede saborear la dedicación y el orgullo que hemos mantenido vivos durante más de un siglo.</p>
      </div>
      <div class="col-md-6">
        <img src="/images/about-us2.jpg" class="img-fluid" alt="Imagen 2">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h1 class="font-italic display-4" id="slogan">La auténtica tradición italiana en cada bocado</h1>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- Agregar cualquier otro script necesario -->
</script>
</body>
</html>
