<!-- views/alergenos.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alérgenos - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.bootstrap5.min.css">
  <link rel="stylesheet" href="/css/alergenos.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de alergenos -->
  <div class="container fadeIn">
    <br>
    <h1 class="text-center mt-5 fw-bold"><u>Tabla de Alérgenos</u></h2>
      <br>
    <div class="mt-4">
      <table id="alergenos-table" class="table table-striped">
        <thead>
          <tr>
            <th>Nuestros productos</th>
            <th>Contiene</th>
            <th>Puede contener</th>
          </tr>
        </thead>
        <tbody>
            <!-- Iconos -->
            <!--
              Pescado: <i class="fas fa-fish" title="Pescado" ></i>
              Lácteos: <i class="fas fa-cheese" title="Lácteos"></i>
              Gluten: <i class="fas fa-wheat-awn" title="Gluten"></i>
              Huevo: <i class="fas fa-egg" title="Huevo"></i>
              Mariscos: <i class="fas fa-shrimp" title="Marisco"></i>
              Soja: <i class="fas fa-tint" title="Soja"></i>
              Sulfitos: <i class="fas fa-flask" title="Sulfitos"></i>
              Mostaza: <i class="fas fa-pepper-hot" title="Mostaza"></i>
              Apio: <i class="fas fa-leaf" title="Apio"></i>
              Sésamo: <i class="fas fa-seedling" title="Sésamo"></i>
            -->
          <!-- Pizzas -->
          <tr>
            <td>Pizza Margarita</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-tint" title="Soja"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza 4 quesos</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-tint" title="Soja"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza Atún</td>
            <td class="alergenos-icons">
              <i class="fas fa-fish" title="Pescado" ></i>
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-tint" title="Soja"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza Hawaiana</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-fish" title="Pescado" ></i>
              <i class="fas fa-tint" title="Soja"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza Vegetal</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza Romana</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-cheese" title="Lácteos"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-tint" title="Soja"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza 4 estaciones</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-cheese" title="Lácteos"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-tint" title="Soja"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza Vegana</td>
            <td class="alergenos-icons">
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza Napoli</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Pizza con setas</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <!-- Agrega el resto de las pizzas con sus alergenos -->

          <!-- Pastas -->
          <tr>
            <td>Espaguetis a la carbonara</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-egg" title="Huevo"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Tagliatelle con trufa</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-seedling" title="Sésamo"></i>
            </td>
          </tr>
          <tr>
            <td>Macarrones a la boloñesa</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-egg" title="Huevo"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-leaf" title="Apio"></i>
            </td>
          </tr>
          <tr>
            <td>Ravioli de setas</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-leaf" title="Apio"></i>
            </td>
          </tr>
          <tr>
            <td>Tortellini de carne</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-cheese" title="Lácteos"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-leaf" title="Apio"></i>
            </td>
          </tr>
          <tr>
            <td>Gnocchi con aceite de oliva y hierbas</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-seedling" title="Sésamo"></i>
            </td>
          </tr>
          <!-- Agrega el resto de las pastas con sus alergenos -->

          <!-- Complementos -->
          <tr>
            <td>Nachos con queso</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-seedling" title="Sésamo"></i>
            </td>
          </tr>
          <tr>
            <td>Bolas de queso</td>
            <td class="alergenos-icons">
              <i class="fas fa-cheese" title="Lácteos"></i>
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
            </td>
          </tr>
          <tr>
            <td>Aros de cebolla</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-seedling" title="Sésamo"></i>
            </td>
          </tr>
          <tr>
            <td>Fritos de pescado</td>
            <td class="alergenos-icons">
              <i class="fas fa-shrimp" title="Marisco"></i>
              <i class="fas fa-fish" title="Pescado" ></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
          </tr>
          <tr>
            <td>Jalapeños fritos</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
          </tr>
          <tr>
            <td>Croquetas de jamón</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
              <i class="fas fa-cheese" title="Lácteos"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
          </tr>
          <tr>
            <td>Alitas de pollo</td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-pepper-hot" title="Mostaza"></i>
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
          </tr>
          <tr>
            <td>Patatas alioli</td>
            <td class="alergenos-icons">
              <i class="fas fa-flask" title="Sulfitos"></i>
            </td>
            <td class="alergenos-icons">
              <i class="fas fa-wheat-awn" title="Gluten"></i>
            </td>
          </tr>
          <!-- Agrega el resto de los complementos con sus alergenos -->
        </tbody>
      </table>
    </div>
  </div>

  <a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>
              
  <!-- Botón para volver arriba -->
  <button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
    

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>  <script src="https://cdn.datatables.net/buttons/2.0.3/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.4.1/js/responsive.bootstrap.min.js"></script>


  <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>


  <script>
    $(document).ready(function () {
        $('#alergenos-table').DataTable({
            dom: 'lBfrtip',
            buttons: [
              {
                extend: 'pdfHtml5',
                text: '<i class="fas fa-file-pdf"></i> PDF',
                className: 'btn btn-danger btn-sm'
              },
              {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel"></i> Excel',
                className: 'btn btn-success btn-sm'
              },
              {
                extend: 'csvHtml5',
                text: '<i class="fas fa-file-excel"></i> CSV',
                className: 'btn btn-info btn-sm'
              },
              {
                extend: 'print',
                text: '<i class="fas fa-print"></i> Imprimir',
                className: 'btn btn-primary btn-sm'
              }
            ],
            "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        })
    })

    window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scrollToTopBtn").style.display = "block";
    } else {
      document.getElementById("scrollToTopBtn").style.display = "none";
    }
    var sections = document.querySelectorAll('.section');
      sections.forEach(function(section) {
        if (isSectionInViewport(section)) {
          section.classList.add('visible');
        }
      });
    }

    document.getElementById("scrollToTopBtn").addEventListener("click", function() {
      scrollToTop()
    })

    function scrollToTop() {
      const body = document.getElementsByTagName("body")[0];
      body.scrollIntoView({ behavior: "smooth" });
    }
  </script>
  <!-- Agregar cualquier otro script necesario -->
</body>
</html>
