<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviso Legal - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/como-comprar.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>
<body class="bg-light">

<!-- Navbar mejorado -->
<%- include('./partials/navbar.ejs') %>

<!-- Contenido del Aviso Legal -->
<div class="container py-5 fadeIn">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="text-center mb-5">
        <h2 class="fw-bold">Aviso Legal</h2>
        <p class="lead">Asegúrate de leer detenidamente los términos y condiciones</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">1. Información de la Empresa</h3>
        <p>La titularidad y gestión de este sitio web corre a cargo de:</p>
        <p>Ineffabile Pizza ESPAÑA PIZZERÍAS, S.L.U.<br>
        NIF: B-8524075.<br>
        Domicilio: Calle Ambrosio Cotes 22, 03400 (Villena)<br>
        Registro Público: incluida en el Registro Mercantil de Alicante, Tomo: 33.666, Folio 45, Sección 8, Hoja M-606008, Inscripción 1.<br>
        Teléfono: 637 053 805.<br>
        Denominada, en adelante, Ineffabile Pizza.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">2. Propósito y Ámbito</h3>
        <p>Este Aviso Legal regula el acceso, navegación y uso del sitio web, sin perjuicio de que Ineffabile Pizza se reserve el derecho a cambiar la presentación, configuración y contenido del mismo, así como las condiciones necesarias para acceder y usarlo. El acceso y uso del contenido del sitio web después de que sus modificaciones o cambios entren en vigor implica la aceptación de estos últimos.</p>
        <p>No obstante, el acceso a determinado contenido y el uso de ciertos servicios puede estar sujeto a condiciones particulares que, en todo caso, se indicarán de manera clara y deberán contar con la aceptación expresa de los usuarios. Estas condiciones particulares podrían reemplazar, completar o, cuando corresponda, enmendar este Aviso Legal.</p>
        <p>Ineffabile Pizza se reserva el derecho a modificar total o parcialmente los términos y condiciones aquí estipulados y publicar los cambios de la misma forma en que se comparta este Aviso Legal o a través de cualquier otra vía de comunicación dirigida a los usuarios.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">3. Derechos de Propiedad Intelectual e Industrial</h3>
        <p>Ineffabile Pizza posee o, cuando corresponda, tiene las licencias relevantes en cuanto a derechos de explotación de propiedad intelectual e industrial del sitio web, así como los derechos de propiedad intelectual e industrial de la información, el material y el contenido de esta propiedad.</p>
        <p>En ningún caso, el acceso, navegación y uso del sitio web por parte de los usuarios implicará que Ineffabile Pizza renuncie, transmita, conceda una licencia o les transfiera estos derechos. Los usuarios tienen derecho a usar el contenido o los servicios del sitio web en un ámbito estrictamente comercial.</p>
        <p>Las referencias a marcas comerciales o nombres comerciales registrados, u otras marcas distintivas, ya sean propiedad de Ineffabile Pizza o de terceros, conllevan implícitamente la prohibición de uso sin el consentimiento de Ineffabile Pizza o de sus propietarios legítimos. En ningún momento, a menos que se indique lo contrario, el acceso, navegación o uso del sitio web o su contenido concederán al usuario un derecho con respecto a las marcas distintivas aquí incluidas.</p>
        <p>Todos los derechos de propiedad industrial e intelectual del contenido del sitio web o los servicios quedan reservados y, en concreto, se prohíbe la modificación, copia, reproducción, comunicación pública, transformación o distribución, por ningún medio y de ninguna forma de parte o de todo el contenido incluido en el sitio web para fines públicos o comerciales si Ineffabile Pizza o, cuando corresponda, el titular de los derechos correspondientes no ha otorgado previamente su permiso expreso por escrito.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">4. Enlaces</h3>
        <h4>4.1 Enlaces a Otras Páginas Web</h4>
        <p>En el caso de que el sitio web incluya enlaces a otras páginas web a través de diferentes botones, enlaces, banners o contenido integrado, Ineffabile Pizza declara que estos cuentan con la gestión directa de terceros y que Ineffabile Pizza no dispone de medios humanos ni técnicos para tener conocimiento previo o para supervisar o aprobar toda la información, contenido, productos o servicios proporcionados por otros sitios web adonde dirijan enlaces establecidos en este sitio web.</p>
        <p>Por consiguiente, Ineffabile Pizza no asumirá responsabilidad de ningún tipo en cuanto a aspectos relacionados con la página web a la que pueda dirigir un enlace desde el sitio web, en concreto y sin limitaciones, sobre su funcionalidad, acceso, datos, información, archivos, calidad y fiabilidad de sus productos y servicios, sus propios enlaces o su contenido en general.</p>
        <p>En este sentido, si los usuarios son conscientes de que las actividades desarrolladas a través de dichas páginas web de terceros son ilegales o contravienen la moralidad o el orden público, deben comunicarlo inmediatamente a Ineffabile Pizza para que desactive el enlace de acceso a dichas páginas, hecho que se completará lo antes posible.</p>
        <h4>4.2 Enlaces al Canal de Ineffabile Pizza en Otras Plataformas y Redes Sociales</h4>
        <p>Ineffabile Pizza podrá poner a disposición de los usuarios, a través de diferentes herramientas y aplicaciones, medios de enlace que permitan a los usuarios acceder a los canales y páginas del sitio web que Ineffabile Pizza mantiene en diferentes plataformas y redes sociales pertenecientes y/o gestionadas por terceros (p.ej. Facebook, Instagram, etc.). La inclusión de estos enlaces en el sitio web tiene por único objeto facilitar a los usuarios el acceso a dichos canales en las diferentes plataformas y redes sociales.</p>
        <p>El establecimiento de estos enlaces no implica la existencia de relación alguna entre Ineffabile Pizza y el titular de la plataforma enlazada, como tampoco la aceptación y aprobación por parte de Ineffabile Pizza de sus contenidos y/o servicios, siendo su titular el único responsable de los mismos.</p>
        <h4>4.3 Enlaces a Otras Páginas Web con Destino al Sitio Web</h4>
        <p>Ineffabile Pizza no autoriza el establecimiento de enlaces a este sitio web desde otras páginas web que puedan incluir material, información o contenido ilícito, ilegal, degradante, obsceno y, en general, que contravenga la ley, moralidad u orden público o lo generalmente aceptado por los estándares sociales.</p>
        <p>En todo caso, los usuarios podrán establecer, en páginas web de su titularidad, enlaces que dirijan a la Página Web, siempre y cuando Ineffabile Pizza lo autorice expresamente y se cumplan con las siguientes condiciones: a) el enlace no podrá reproducir el contenido del sitio web o partes del mismo de ninguna forma; b) no está permitido crear un browser ni un border environment sobre las secciones del sitio web, ni de ninguna otra forma podrá modificarse el sitio web; c) no está permitido realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre el sitio web y/o, en particular, declarar o dar a entender que Ineffabile Pizza ha autorizado el enlace o que ha supervisado o asumido de cualquier forma los contenidos o servicios ofrecidos o puestos a disposición en la página web en la que se establece dicho enlace; d) la página web en la que se establezca el enlace al sitio web no contendrá informaciones o contenidos ilícitos, contrarios a la moral y buenas costumbres generalmente aceptadas y al orden público, así como tampoco contendrá contenidos contrarios a cualesquiera derechos de terceros, incluidos los derechos de propiedad intelectual e industrial y/o el derecho al honor, a la intimidad personal o familiar o a la propia imagen o de cualquier otro derecho, o contenidos contrarios a las normas reguladoras de la protección de datos de carácter personal.</p>
        <p>Ineffabile Pizza no tiene la capacidad ni los medios humanos y técnicos para supervisar o aprobar toda la información, contenido, productos o servicios proporcionados por otros sitios web que hayan establecido enlaces en este sitio web. Ineffabile Pizza no asumirá responsabilidad de ningún tipo en cuanto a aspectos relacionados con las páginas web que establezcan un enlace al sitio web, en concreto y sin limitaciones, sobre su funcionalidad, acceso, datos, información, archivos, calidad y fiabilidad de sus productos y servicios, sus propios enlaces o su contenido en general.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">5. Condiciones de Uso del Sitio Web</h3>
        <p>No está permitido el acceso o uso del sitio web para fines ilegales o no autorizados, con o sin objetivos económicos y, por tanto, el usuario asumirá la responsabilidad exclusiva de las consecuencias. De manera más específica y sin que esta recopilación sea completa, se prohíbe lo siguiente:</p>
        <ul>
          <li>Usar el sitio web de un modo que pueda provocar daños, interrupciones, fallos o defectos en su funcionalidad o en el ordenador de un tercero;</li>
          <li>Usar el sitio web para transmitir, instalar o publicar virus, código malicioso u otros programas o archivos dañinos;</li>
          <li>Utilizar el sitio web para recopilar datos personales de otros usuarios;</li>
          <li>Registrarse a través del sitio web con una identidad falsa, hacerse pasar por terceros o usar un perfil o llevar a cabo cualquier otra acción que pueda confundir a otros usuarios sobre la identidad de la fuente del mensaje;</li>
          <li>Acceder sin permiso a otra sección del sitio web, otros sistemas o redes conectados a la plataforma, servidores o servicios de Ineffabile Pizza ofrecidos a través del sitio web mediante el pirateo o la falsificación, la extracción de contraseñas o cualquier otro método ilegítimo;</li>
          <li>Quebrantar o intentar quebrantar las medidas de seguridad o autenticación del sitio web o de cualquier red conectada a este, así como las medidas de seguridad o protección inherentes al contenido ofrecido en el sitio web;</li>
          <li>Llevar a cabo cualquier acción que provoque una saturación desproporcionada o innecesaria en la infraestructura del sitio web o en los sistemas o redes de Ineffabile Pizza, así como en los sistemas o redes conectados al sitio web o</li>
          <li>Evitar el desarrollo normal de un evento, concurso, promoción o cualquier otra actividad disponible a través del sitio web o cualquiera de sus funcionalidades, ya sea alterando o intentando alterar ilegalmente o de cualquier otro modo el acceso, la participación o el funcionamiento de este, así como falsificando el resultado o usando métodos de participación fraudulentos por medio de cualquier procedimiento o a través de prácticas que infrinjan o contravengan de algún modo este Aviso Legal.</li>
        </ul>
        <p>El incumplimiento de las obligaciones anteriores por parte del usuario podría provocar que Ineffabile Pizza adopte las medidas apropiadas recogidas por la legislación y en el ejercicio de sus derechos u obligaciones, y podría suponer la eliminación o el bloqueo de la cuenta del usuario infractor sin opción de compensación por los daños causados.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">6. Responsabilidad y Garantías</h3>
        <p>Ineffabile Pizza no puede garantizar la fiabilidad, utilidad o veracidad de absolutamente toda la información o servicios del sitio web o la utilidad o veracidad de la documentación proporcionada a través del sitio.</p>
        <p>Por consiguiente, Ineffabile Pizza no garantiza ni asume la responsabilidad de: (i) la continuidad del contenido del sitio web; (ii) la ausencia de errores en este contenido; (iii) la ausencia de virus u otros componentes perjudiciales en el sitio web o en el servidor que lo proporciona; (iv) la invulnerabilidad del sitio web o la imposibilidad de quebrantar las medidas de seguridad adoptadas por este; (v) la ausencia de utilidad o funcionamiento del contenido del sitio web y (vi) los daños o prejuicios provocados a sí mismos o a un tercero por parte de alguien que incumpla estas condiciones, normas e instrucciones que Ineffabile Pizza establece en el sitio web o a través del quebrantamiento de los sistemas de seguridad del sitio web.</p>
        <p>No obstante, Ineffabile Pizza declara que ha adoptado todas las medidas necesarias, dentro de sus posibilidades y de la situación tecnológica, para garantizar el funcionamiento del sitio web y para reducir al mínimo los errores del sistema, tanto desde el punto de vista técnico como en cuanto al contenido publicado en el sitio web.</p>
        <p>Si los usuarios tienen conocimiento de la existencia de contenido ilícito, ilegal, contrario a la legislación o que pudiera representar una infracción de derechos de propiedad intelectual o industrial, la normativa aplicable en cuanto a protección de datos personales o cualquier otro derecho, deben avisar de inmediato a Ineffabile Pizza para que pueda adoptar las medidas correspondientes.</p>
        <p>Ineffabile Pizza no garantiza la legalidad, fiabilidad y utilidad del contenido ofrecido por parte de terceros a través del sitio web.</p>
        <p>Ineffabile Pizza no asumirá responsabilidad alguna con respecto a la veracidad, integridad o actualización de la información publicada en el sitio web de fuentes no relacionadas con este (noticias externas, informes de profesionales externos, etc.) o a la información incluida en otros portales web a través de enlaces desde el sitio web.</p>
        <p>Ineffabile Pizza no asumirá la responsabilidad en caso de daños hipotéticos que puedan derivarse del uso de la información mencionada previamente.</p>
        <p>En cualquier caso, Ineffabile Pizza se reserva el derecho a suspender, modificar, limitar o interrumpir, de forma temporal o permanente, el acceso, la navegación, el alojamiento o la descarga de contenido o el uso de servicios desde el sitio web, con o sin previo aviso, a los usuarios que incumplan las disposiciones establecidas en este Aviso Legal, sin que el usuario tenga posibilidad alguna de exigir compensaciones por este motivo.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">7. Aviso de Privacidad y Cookies</h3>
        <p>En cumplimiento de la legislación en vigor y aplicable actualmente en el ámbito de la protección de datos personales, toda la información personal que se facilite durante el uso del sitio web se procesará según lo dispuesto en el Aviso de privacidad que los usuarios deben aceptar de forma expresa para poder usar y registrarse en el sitio web.</p>
        <p>Todos los usuarios que acepten este Aviso Legal aceptan también nuestro Aviso de privacidad de una manera informada, expresa e inequívoca, y podrán ejercer los derechos correspondientes en este ámbito según lo indicado en el Aviso de privacidad mencionado anteriormente.</p>
      </div>
      <div class="mb-5">
        <h3 class="fw-bold mb-3">8. Legislación Aplicable y Tribunales Competentes</h3>
        <p>Este Aviso Legal se rige por la legislación española. En caso de litigio, las partes aceptan someterse expresamente a los tribunales de Madrid y renunciar a cualquier otra jurisdicción.</p>
        <p>Para enviar reclamaciones relacionadas con el uso de nuestros servicios, los clientes deben mandar un correo electrónico o carta postal a la dirección indicada en la sección «Información de la Empresa». Nos comprometemos a buscar una solución amistosa para el conflicto en todo momento.</p>
      </div>
      <p>Última actualización: 5 de mayo de 2024</p>
      <div class="text-center mt-3"><a href="/contacto" class="btn btn-warning">Contáctanos</a></div>
    </div>
  </div>
</div>
<!-- Fin de Aviso Legal -->

<a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
  <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>
            
<!-- Botón para volver arriba -->
<button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
  
<!-- Footer mejorado -->
<%- include('./partials/footer.ejs') %>

<script src="/fontawesome/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script>
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scrollToTopBtn").style.display = "block";
    } else {
      document.getElementById("scrollToTopBtn").style.display = "none";
    }
    var sections = document.querySelectorAll('.section');
      sections.forEach(function(section) {
        if (isSectionInViewport(section)) {
          section.classList.add('visible');
        }
      });
    }

    document.getElementById("scrollToTopBtn").addEventListener("click", function() {
      scrollToTop()
    })

    function scrollToTop() {
      const body = document.getElementsByTagName("body")[0];
      body.scrollIntoView({ behavior: "smooth" });
    }
  </script>
</body>
</html>
