<!-- views/contact.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

  <!-- Agregar cualquier otro estilo necesario -->

  <!-- Estilo personalizado para centrar el formulario y ajustar el tamaño -->

</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <div id="carroCompras">
    <div class="tituloDos">
      <h2>Tu orden</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>X</th>
        </tr>
      </thead>
      <tbody class="tbody">

      </tbody>
    </table>
    <div id="total">
      <div>
        <h2 class="itemTotal">Total:</h2>
      </div>
      <button id="comprar">Comprar</button>
    </div>
  </div>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
