<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cómo comprar - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css"> <!-- Estilos personalizados -->

  <style>
  @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .fadeIn {
      animation: fadeIn 1s ease forwards;
    }

  </style>

</head>

<body class="bg-light">

  <!-- Navbar mejorado -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de cómo comprar -->
  <div class="container py-5 fadeIn">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="text-center mb-5">
          <h2 class="fw-bold">Cómo Comprar</h2>
          <p class="lead">Haz tu pedido de forma sencilla y segura</p>
        </div>
        <div class="mb-5">
          <h3 class="fw-bold mb-3">1. Sistema de Roles</h3>
          <p>Tenemos un sistema de roles que determina qué acciones puede realizar un usuario en nuestro sitio web. Si eres un visitante no registrado, podrás ver el contenido público de la web y agregar productos al carrito, pero no podrás finalizar la compra hasta que te registres. Una vez registrado, podrás realizar pedidos.</p>
        </div>
        <div class="mb-5">
          <h3 class="fw-bold mb-3">2. Productos y Promociones</h3>
          <p>Nuestros productos se encuentran organizados en diferentes secciones, cada una dedicada a un tipo específico de producto, como pizzas, bebidas, postres, etc. Además, te recomendamos visitar nuestra página de promociones, donde encontrarás nuestras mejores ofertas y descuentos.</p>
        </div>
        <div class="mb-5">
          <h3 class="fw-bold mb-3">3. Proceso de Compra</h3>
          <p>Una vez que hayas seleccionado los productos que deseas comprar y estés registrado en nuestro sitio web, podrás proceder al pago de tu pedido. Simplemente sigue los pasos indicados en la pantalla para completar tu compra de forma segura.</p>
        </div>
        <p class="text-center">¡Recuerda que estamos aquí para ayudarte en cada paso del proceso! Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nuestro equipo de atención al cliente.</p>
      </div>
    </div>
  </div>

  <!-- Footer mejorado -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- Agregar cualquier otro script necesario -->
</body>
</html>
