<!-- views/condiciones-generales.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Condiciones Generales de Venta - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Agregar cualquier otro estilo necesario -->

  <style>
    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(50px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
  
      .fadeIn {
        animation: fadeIn 1s ease forwards;
      }
  
    </style>
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de condiciones generales -->
  <div class="container fadeIn">
    <br>
    <br>
    <h1 class="text-center mt-5"><u>Condiciones Generales de Venta</u></h2>
      <br>
      <br>
    <div class="mt-4">
      <h3>1. Objeto</h3>
      <p>El propósito de las presentes Condiciones Generales de Venta es, por una parte, informar a los posibles compradores de las condiciones y modalidades en las que INEFFABILE PIZZA, S.L.U. (en adelante, “INEFFABILE”) procede a la venta y entrega de los productos ofertados (en adelante, los “Productos”) y, por otra, definir los derechos y obligaciones de las partes en el marco de la venta de Productos por parte de INEFFABILE al comprador (en adelante, el “Comprador”), quien declara en todo caso ser mayor de dieciocho años y disponer de la capacidad legal necesaria para contratar.</p>
      <p>Las presentes Condiciones Generales de Venta se aplicarán, sin restricción ni reserva alguna, a todas las ventas de Productos que INEFFABILE ofrece en su sitio web accesible a través de la dirección www.INEFFABILE.es y de la aplicación móvil disponible (en adelante conjuntamente, el “Sitio Web”).</p>
      <p>El hecho de realizar un pedido de Productos ofertados para la venta en el Sitio Web (en adelante, el “Pedido”) comporta para el Comprador la plena y total aceptación de las presentes Condiciones Generales de Venta, cuyo conocimiento previo a la realización del Pedido reconoce el Comprador.</p>
      <p>INEFFABILE se reserva en todo momento la posibilidad de modificar las presentes Condiciones Generales de Venta. No obstante, las Condiciones Generales de Venta aplicables al Pedido serán aquellas que el Comprador hubiere aceptado en el momento de realizar el Pedido.</p>
      <p>Las presentes Condiciones Generales de Venta se completarán con las Condiciones de Uso del Sitio Web, las Condiciones Particulares que pudieran resultar aplicables en cada momento y la Política de Privacidad y de Cookies.</p>

      <h3>2. Procedimiento de Pedido</h3>
      <h4>2.1. Características de los Productos</h4>
      <p>El Comprador podrá seleccionar uno o varios Productos de entre las diferentes categorías ofertadas por INEFFABILE en el Sitio Web.</p>
      <p>De conformidad con la normativa aplicable, el Comprador tendrá la posibilidad, con carácter previo al Pedido, de conocer en el Sitio Web las características fundamentales del o de los Productos que desee adquirir y su composición alimenticia.</p>
      <p>Si bien se toman todas las precauciones necesarias, algunos Productos pueden contener productos alérgenos. INEFFABILE insta a los compradores que sufran algún tipo de alergia, trastorno alimenticio o similar que consulten la lista de alérgenos proporcionada en el Sitio Web, de conformidad con lo previsto en el Reglamento (UE) n o 1169/2011 del Parlamento Europeo y del Consejo de 25 de octubre de 2011 sobre la información alimentaria facilitada al consumidor.</p>

      <h4>2.2. Disponibilidad</h4>
      <p>Los Productos están sujetos a disponibilidad. En el caso de ausencia total o parcial de disponibilidad de los Productos con posterioridad a la realización del Pedido, se informará al Comprador y se ofrecerá una alternativa.</p>
      <p>En todo caso, en el supuesto de ausencia total o parcial de disponibilidad de los Productos con posterioridad a la realización del Pedido, se informará indistintamente por teléfono o por correo electrónico al Comprador, con la mayor brevedad posible, de la ausencia de disponibilidad del Producto agotado y de la posibilidad de sustituirlo por otro equivalente, a elección del Comprador, o, en su caso, de anular total o parcialmente su Pedido.</p>

      <h4>2.3. Formalización del Pedido</h4>
      <p>La realización de un Pedido equivale a la aceptación de las presentes Condiciones Generales de Venta. El Pedido será confirmado por INEFFABILE mediante el envío de un correo electrónico al Comprador.</p>
      <p>Durante el proceso de Pedido, el Comprador deberá proporcionar determinados datos de carácter personal con carácter obligatorio, cuyo tratamiento estará sometido a la Política de Privacidad, que deberá ser aceptada antes de la formalización del Pedido. La negativa a proporcionar los datos personales requeridos impedirá la formalización del Pedido.</p>
      <p>El Pedido será confirmado por INEFFABILE mediante el envío de un correo electrónico al Comprador. INEFFABILE no asume responsabilidad alguna en caso de error en la introducción de la dirección de correo electrónico o de no recepción del correo electrónico de confirmación de Pedido. En estos casos la venta tendrá carácter definitivo, salvo en caso de anulación del Pedido por parte de INEFFABILE, especialmente en el supuesto de falta de disponibilidad de determinados Productos.</p>
      <p>INEFFABILE estará autorizada para cobrar la integridad del precio correspondiente a dicho Pedido a partir del envío del correo electrónico informando al Comprador de la confirmación de su Pedido, con indicación del plazo aproximado de entrega del mismo.</p>

      <h4>2.4. Venta de bebidas alcohólicas</h4>
      <p>Está prohibida la venta de bebidas alcohólicas a menores de 18 años. INEFFABILE se reserva el derecho a suspender o anular la entrega de un Pedido en caso de sospecha de minoría de edad del Comprador.</p>
      <p>Así mismo, INEFFABILE se reserva el derecho a suspender o anular la entrega de bebidas alcohólicas que integren un Pedido de acuerdo con la normativa sobre límites horarios para la venta de bebidas alcohólicas que resulte aplicable al establecimiento de referencia. Con carácter general, podrá denegarse la entrega de bebidas alcohólicas en caso de que el Pedido se haya formalizado durante el horario comprendido entre las 21:30 horas y las 8 horas del día siguiente.</p>
      <p>INEFFABILE recomienda el consumo responsable.</p>

      <h3>3. Precio y medios de pago</h3>
      <h4>3.1. Precio de venta</h4>
      <p>El precio de venta de los Productos será el precio vigente en el momento de realización del Pedido por parte del Comprador. Los precios incluirán los impuestos aplicables.</p>
      <p>Los precios incluirán los impuestos indirectos aplicables en la fecha del Pedido. Cualquier modificación del tipo impositivo aplicable repercutirá automáticamente en el precio de los Productos que INEFFABILE vende en el Sitio Web.</p>

      <h4>3.2. Medios de pago</h4>
      <p>Aceptamos los siguientes métodos de pago:</p>
      <p>Efectivo: Salvo que el cliente indique lo contrario durante el Pedido, nuestros repartidores sólo llevarán 10€ en metálico para el cambio. *Actualmente ante la situación de alarma de España se acepta pago en efectivo únicamente en algunas tiendas físicas y nunca mediante compra online con la web o app.</p>

      <h4>3.3. Otras condiciones de pago</h4>
      <p>El Comprador puede solicitar una factura del ticket de compra dirigiéndose al Servicio de Atención al Cliente del establecimiento de INEFFABILE al que hubiese realizado el Pedido.</p>
      <p>Todos los Pedidos deben abonarse en euros, incluidos todos los impuestos y derechos obligatorios. Los costes bancarios correrán, en su caso, por cuenta del Comprador (incluyendo el supuesto de reembolso).</p>
      <p>INEFFABILE se reserva el derecho a suspender o anular la entrega de un Pedido, con independencia de su naturaleza y grado de ejecución, en caso de impago o de pago parcial de los importes adeudados por el Comprador, en caso de incidencias en el pago o en caso de fraude, consumado o en grado de tentativa, relacionado con la utilización del Sitio Web de INEFFABILE, incluyendo el fraude cometido con ocasión de anteriores Pedidos, o en cualesquiera otros supuestos en los que INEFFABILE considere necesario rechazar el Pedido por motivos razonables.</p>
      <p>Si INEFFABILE debe realizar un reembolso como consecuencia de la no aceptación de un Pedido o de su cancelación, procurará abonarlo en cuenta en un plazo de 10 días hábiles.</p>

      <h4>3.4 Seguridad en las operaciones de pago</h4>
      <p>A fin de garantizar la seguridad de los pagos realizados con tarjeta bancaria, el Comprador deberá comunicar a INEFFABILE el criptograma visual (CVV) que figura sobre el reverso de la tarjeta bancaria utilizada por el Comprador.</p>
      <p>En el marco de la lucha contra el fraude en Internet, los datos relativos al Pedido del Comprador podrán ser comunicados a los terceros habilitados por ley o designados por INEFFABILE, al único efecto de verificar la identidad del Comprador, así como la validez del Pedido, del medio de pago empleado y de la entrega prevista.</p>
      <p>INEFFABILE se reserva el derecho a exigir fotocopia del documento de identidad del Comprador y/o cualesquiera otros datos relativos a la identidad del Comprador. El Comprador dispone de derecho de acceso, rectificación, cancelación y oposición de los datos de carácter personal que le conciernan y sean objeto de tratamiento por parte de INEFFABILE, en las condiciones previstas en nuestra Política de Privacidad.</p>
      <p>INEFFABILE se compromete a no permitir ninguna transacción que sea ilegal, o se considere por las marcas de tarjetas de crédito o el banco adquiriente, que pueda o tenga el potencial de dañar la buena voluntad de los mismos o influir de manera negativa en ellos. Las siguientes actividades están prohibidas en virtud de los programas de las marcas de tarjetas: la venta u oferta de un producto o servicio que no sea de plena conformidad con todas las leyes aplicables al Comprador, Banco Emisor, Comerciante, Titular de la tarjeta, o tarjetas.</p>

      <h3>4. Ofertas promocionales</h3>
      <p>Las ofertas presentadas por INEFFABILE serán válidas mientras permanezcan anunciadas en el Sitio Web y hasta fin de existencias, y podrán someterse a sus propias condiciones particulares.</p>

      <h3>5. Entrega y recogida</h3>
      <h4>5.1. Modos de entrega.</h4>
      <p>Los Pedidos podrán ser entregados de las siguientes formas:</p>
      <p>- Entrega en el domicilio indicado por el Comprador (Pedido mínimo por importe de 10,95 euros)</p>
      <p>- Recogida en establecimiento por parte del Comprador</p>
      <p>En cualquiera de los dos casos, no se admitirán Pedidos por importe superior a 100 euros.</p>

      <h4>5.2. Plazos de entrega</h4>
      <p>Los plazos de entrega son aproximados y comienzan a contar desde el envío del correo electrónico de confirmación del Pedido.</p>
      <p>Nuestro objetivo es proporcionar el mejor servicio de entrega de pizzas del mercado, lo que incluye poseer una gran reputación en nuestros horarios de entrega, esto supone entregar el Pedido en la hora indicada con carácter aproximado y no vinculante, si bien factores ajenos al control de INEFFABILE como la meteorología, enfermedad del personal y/o el tráfico podrían, ocasionalmente, producir perturbaciones en el plazo de entrega. En el supuesto de que se excedieran de forma no razonable los plazos de entrega por cualquier causa de fuerza mayor, el Comprador tendrá la posibilidad de anular su Pedido.</p>
      <p>El reembolso se realizará con la mayor brevedad posible y en todo caso en el plazo de diez días hábiles desde la fecha en que el Comprador hubiere anulado su Pedido.</p>
      <p>INEFFABILE no acepta Pedidos de entrega a domicilio ni de recogida en tienda efectuados con menos de 30 minutos de antelación a la hora de cierre del establecimiento de referencia.</p>

      <h5>5.2.1. Entrega a domicilio</h5>
      <p>INEFFABILE ofrece un servicio de entrega gratuita en varias zonas urbanas de España. Cada establecimiento tiene una zona de entrega limitada. De no encontrarse usted en una de nuestras zonas de entrega, tendrá la posibilidad de recoger su Pedido en cualquiera de nuestras tiendas.</p>
      <p>Los horarios de apertura de nuestros establecimientos podrán verse reducidos en función de las restricciones comerciales de la localidad correspondiente. La entrega gratuita podría estar sometida a un importe de Pedido mínimo en función del establecimiento. Le rogamos consulte estas condiciones con el establecimiento antes de realizar el Pedido.</p>

      <h5>5.2.2. Recogida en establecimiento por parte del Comprador</h5>
      <p>Los Pedidos para recoger en establecimiento están disponibles en un plazo aproximado de 20 minutos, si bien factores ajenos a INEFFABILE como la enfermedad del personal, la falta de suministro eléctrico o la ausencia de disponibilidad de sistemas informáticos, podrían ocasionalmente producir perturbaciones en los plazos de entrega. En el supuesto que se excedieran, de forma no razonable, los plazos de entrega por cualquier causa de fuerza mayor, el Comprador tendrá la posibilidad de anular su Pedido.</p>
      <p>El reembolso se realizará con la mayor brevedad posible y en todo caso en el plazo de diez días hábiles desde la fecha en que el Comprador hubiere anulado su Pedido. Los Pedidos para recoger deberán ser abonados por medio de tarjeta bancaria a través del Sitio Web en el momento de formalizar el Pedido.</p>

      <h4>5.3 Anomalías, daños, falta de conformidad</h4>
      <p>El Comprador deberá comunicar la falta de conformidad con el Pedido entregado al Servicio de Atención al Cliente del establecimiento de INEFFABILE al que hubiese realizado el Pedido.</p>
      <p>El Servicio de Atención al Cliente de INEFFABILE podrá solicitar cualquier dato relativo a la identidad del Comprador o destinatario del Pedido y proceder a cuantas verificaciones fueran necesarias para el caso.</p>

      <h3>6. Desistimiento</h3>
      <p>INEFFABILE informa al Comprador que conforme a los artículos 102 y 103 del Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias, no cabe el derecho de desistimiento en los contratos de suministro de bienes confeccionados conforme a las especificaciones del consumidor o claramente personalizados o que, por su naturaleza, no puedan ser devueltos o puedan deteriorarse o caducar con rapidez.</p>

      <h3>7. Ley aplicable y jurisdicción competente</h3>
      <p>Las presentes Condiciones Generales de Venta, así como cualquier relación entre INEFFABILE y el Comprador, se regirán por la legislación española; y cualquier controversia relativa a la existencia, interpretación, ejecución o incumplimiento del contrato concluido entre INEFFABILE y el Comprador será sometida a la jurisdicción de los juzgados y tribunales del domicilio del consumidor, de conformidad con lo previsto en el artículo 90.2 del Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias.</p>

      <h3>8. Atención al cliente. Quejas y reclamaciones</h3>
      <p>Para cualquier información adicional, consulta relacionada con el estado de un Pedido o de una modificación o cancelación, puede ponerse en contacto con el Servicio de Atención al Cliente del establecimiento de INEFFABILE al que efectuó el Pedido.</p>
      <p>Así mismo, puede formular cualquier queja o reclamación en relación al servicio prestado por medio de correo electrónico remitido a atencionalcliente@INEFFABILE.es. También existen hojas de reclamaciones a su disposición en cada uno de los establecimientos INEFFABILE.</p>
      <p>Conforme a lo dispuesto en el artículo 40.5 de la Ley 7/2017, de 2 de noviembre, por la que se incorpora al ordenamiento jurídico español la Directiva 2013/11/UE, del Parlamento Europeo y del Consejo, de 21 de mayo de 2013, relativa a la resolución alternativa de litigios en materia de consumo, le informamos que la Comisión Europea facilita una plataforma online de resolución de conflictos.</p>
    </div>
  </div>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>  
  <!-- Agregar cualquier otro script necesario -->
</script>
</body>
</html>