<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>
  <link rel="stylesheet" href="/css/contacto.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <div class="container py-5 fadeIn">
    <h1 class="fw-bold text-center"><u>Formulario de Contacto</u></h1>
    <br>
    <div class="row">
      <div class="col-md-6">
        <form class="custom-form" action="/contacto" method="post">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre" required>
          </div>

          <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="tucorreo@example.com" required>
            <small id="emailHelp" class="form-text text-muted">Introduce una dirección de correo válida.</small>
          </div>

          <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="4" placeholder="Tu mensaje" required></textarea>
          </div>

          <button type="submit" class="btn btn-warning">Enviar Mensaje</button>
        </form>
      </div>

      <div class="col-md-6">
        <div class="contact-info">
          <div class="mb-4 text-center">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img src="/images/utils/calendario.png" alt="Horario" class="img-fluid-calendario">
        <p class="mt-3">Horario:</p>
        <p>De Lunes a Domingo | 12:00 a 00:00</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/utils/movil.png" alt="Teléfono" class="img-fluid-phone">
        <img src="/images/utils/correo.png" alt="Teléfono" class="img-fluid-email">
        <p class="mt-3">Teléfono:</p>
        <p>+34 637 053 805</p>
        <p>Email: ineffabilepizza@gmail.com</p>
      </div>
    </div>
  </div>

  <a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank">
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>

  <button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>

  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var map = L.map('map').setView([38.644063, -0.873476], 13); // Nuevas coordenadas y nivel de zoom

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      var marker = L.marker([38.644063, -0.873476]).addTo(map);

      // Contenido personalizado del popup
      var popupContent = `
        <div>
          <img src="/images/logos/logo5_modified.png" alt="Local Image" style="width: 190px; height: 90px;">
          <p><i class="fa-solid fa-mobile-screen-button"></i> +34 637 053 805</p>
        </div>
      `;

      marker.bindPopup(popupContent).openPopup();
    });
  </script>
  <script>
    window.onscroll = function() {scrollFunction()};
  
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("scrollToTopBtn").style.display = "block";
      } else {
        document.getElementById("scrollToTopBtn").style.display = "none";
      }
      var sections = document.querySelectorAll('.section');
        sections.forEach(function(section) {
          if (isSectionInViewport(section)) {
            section.classList.add('visible');
          }
        });
      }

      document.getElementById("scrollToTopBtn").addEventListener("click", function() {
        scrollToTop()
      })

      function scrollToTop() {
        const body = document.getElementsByTagName("body")[0];
        body.scrollIntoView({ behavior: "smooth" });
      }
  </script>
</body>
</html>
