<!-- views/contact.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>

  <!-- Agregar cualquier otro estilo necesario -->

  <!-- Estilo personalizado para centrar el formulario y ajustar el tamaño -->
  <style>
    .center-form {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 10vh; /* Ajusta la altura mínima para centrar el formulario */
    }

    .custom-form {
      max-width: 800px; /* Ajusta el ancho máximo del formulario */
      width: 100%;
    }

    .img-fluid {
      width: 100px;
      height: 100px;
    }

    .img-fluid-map {
      width: 100px;
      height: 100px;
      margin-left: 70px
    }
    
    .form-group {
      margin-bottom: 20px; /* Ajusta el espacio entre campos del formulario */
    }

    #map {
      height: 300px; /* Ajusta la altura del mapa según tus necesidades */
      width: 100%;   /* Ajusta el ancho del mapa al 100% del contenedor */
      border: 1px solid #ddd; /* Agrega un borde para mejor visualización */
      margin-left: 50px; /* Ajusta el margen izquierdo del mapa */
    }
  </style>
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido del formulario -->
  <div class="container center-form">
    <form class="custom-form">
      <h2 class="text-center mb-4">Formulario de Contacto</h2>

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
      </div>

      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" class="form-control" id="email" placeholder="tucorreo@example.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
        <small id="emailHelp" class="form-text text-muted">Introduce una dirección de correo válida.</small>
      </div>

      <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea class="form-control" id="mensaje" rows="6" placeholder="Tu mensaje" required></textarea>
      </div>

      <div class="form-group">
        <label for="archivo">(Opcional):</label>
        <input type="file" class="form-control-file" id="archivo" name="archivo">
      </div>

      <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
    </form>
  </div>
  <br>
  <br>

  <!-- Dos columnas con Google Maps y información de contacto -->
  <div class="row mt-5">
    <!-- Columna 1: Ubicación -->
    <div class="col-md-4 text-center">
      <img src="/images/maps2.png" alt="Ubicación" class="img-fluid-map">
        <div id="map"></div>
    </div>

    <!-- Columna 2: Horario -->
    <div class="col-md-4 text-center">
      <img src="/images/calendario.png" alt="Horario" class="img-fluid">
      <p class="mt-3">Horario:</p>
      <p>de Lunes a Domingo | 12:00 a 00:00</p>
    </div>

    <!-- Columna 3: Teléfono -->
    <div class="col-md-4 text-center">
        <img src="/images/telefono.png" alt="Teléfono" width="90px" height="90px">
        <p class="mt-3">Teléfono:</p>
        <p>+34 692 158 742</p>
    </div>
  </div>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Selecciona el formulario y agrega un evento de envío
        var form = document.querySelector('.custom-form');
        form.addEventListener('submit', function (event) {
            // Detén el envío del formulario por defecto
            event.preventDefault();

            // Valida los campos del formulario
            var nombre = form.querySelector('#nombre').value.trim();
            var email = form.querySelector('#email').value.trim();
            var mensaje = form.querySelector('#mensaje').value.trim();

            if (!nombre || !email || !mensaje) {
                // Muestra la alerta de error si algún campo está vacío
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Por favor, completa todos los campos del formulario.',
                });
            } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                // Muestra la alerta de error si el formato del correo electrónico es incorrecto
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Por favor, introduce un correo electrónico válido.',
                });
            } else {
                // Muestra la alerta de éxito con temporizador de 3 segundos
                Swal.fire({
                    icon: 'success',
                    title: 'Mensaje Enviado',
                    text: 'Tu mensaje ha sido enviado correctamente. Comprueba tu bandeja de entrada en los próximos días.',
                    timer: 2350,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    didOpen: () => {
                        Swal.showLoading();
                    },
                    // Redirige a la página de éxito después de cerrar la alerta
                    willClose: () => {
                        window.location.href = '/contacto/success';
                    },
                });

                // Puedes agregar aquí el código para enviar el formulario al servidor si es necesario
                // form.submit();
            }
        });
    });
    
    document.addEventListener('DOMContentLoaded', function () {
      var map = L.map('map').setView([38.63944449527361, -0.8644422700067568], 13); // Nuevas coordenadas y nivel de zoom

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      var marker = L.marker([38.63944449527361, -0.8644422700067568]).addTo(map);

      // Contenido personalizado del popup
      var popupContent = `
        <div>
          <h4>INEFFABILE</h4>
          <img src="/images/logo3.png" alt="Local Image" style="width: 100%; max-width: 200px;">
          <p>Teléfono: +34 692 158 742</p>
        </div>
      `;

      marker.bindPopup(popupContent).openPopup();
    });
</script>
</body>
</html>
