<div id="cookie-popup" class="cookie-popup">
    <div class="cookie-content">
        <h2>Política de cookies</h2>
        <p>Ineffabile Pizza utiliza cookies para mejorar la experiencia del usuario. ¿Aceptas nuestras cookies?</p>
        <div class="cookie-buttons">
            <button id="accept-cookies" class="cookie-button accept">Aceptar</button>
            <button id="reject-cookies" class="cookie-button reject">Rechazar</button>
        </div>
    </div>
</div>