<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>404 Not Found</title>
<link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>INEFFABILE PIZZA</h1>
        </header>
        <main>
            <div class="error-number">
                <span class="error-digit">4</span>
                <img src="/images/logos/logo4_modified.png" alt="Ineffabile Pizza" class="error-logo">
                <span class="error-digit">4</span>
            </div>
            <div class="error-message">
                <h2>PÁGINA NO ENCONTRADA</h2>
                <p>Lo sentimos, no hemos podido encontrar la página deseada.</p>
                <a href="/contacto" class="button">Contacte con el administrador</a> o <a href="/" class="button">Volver a Inicio</a>
            </div>
        </main>
    </div>
</body>
</html>