<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Métodos de Pago - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/css/formas-de-pago.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body class="bg-light">

  <!-- Navbar mejorado -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido de métodos de pago -->
  <div class="container py-5 fadeIn">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="text-center mb-5">
          <h2 class="fw-bold">Métodos de Pago</h2>
          <p class="lead">Ofrecemos diversas formas de pago para tu comodidad</p>
        </div>
        <div class="mb-5">
          <h3 class="fw-bold mb-3">Tarjeta de Crédito o Débito <i class="fa-brands fa-cc-visa"></i>  <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-stripe"></i></h3>
          <p>Aceptamos pagos con tarjeta de crédito o débito. Asegúrate de tener una de las siguientes tarjetas para realizar tu compra: Maestro, Mastercard o Visa. Utilizamos Stripe como pasarela de pago segura para proteger tus transacciones.</p>
          <img src="/images/utils/metodos-pago.png" alt="Tarjetas de Crédito" class="img-fluid img-small">
        </div>
        <br>
        <p class="text-center">Si tienes alguna pregunta o necesitas asistencia con los métodos de pago, no dudes en ponerte en contacto con nuestro equipo de atención al cliente.</p>
        <div class="text-center mt-3"><a href="/contacto" class="btn btn-warning">Contáctanos</a></div>
      </div>
    </div>
  </div>

  <a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>

  <!-- Botón para volver arriba -->
  <button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>

  <!-- Footer mejorado -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("scrollToTopBtn").style.display = "block";
      } else {
        document.getElementById("scrollToTopBtn").style.display = "none";
      }
      var sections = document.querySelectorAll('.section');
        sections.forEach(function(section) {
          if (isSectionInViewport(section)) {
            section.classList.add('visible');
          }
        });
      }

      document.getElementById("scrollToTopBtn").addEventListener("click", function() {
        scrollToTop()
      })

      function scrollToTop() {
        const body = document.getElementsByTagName("body")[0];
        body.scrollIntoView({ behavior: "smooth" });
      }
    </script>
  <!-- Agregar cualquier otro script necesario -->
</body>
</html>
