<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <style>
    body {
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #f7f7f7 0%, #ffffff 100%);
      color: #333333; /* Texto principal en negro */
    }

    /* Contenedor del texto descriptivo */
    .text-container {
      opacity: 0; /* El texto no es visible inicialmente */
      transition: opacity 1s ease-in-out; /* Efecto de transición */
    }

    /* Mostrar el texto cuando el contenedor es visible en la ventana */
    .text-container.visible {
      opacity: 1;
    }

    /* Estilos para el texto descriptivo */
    .section {
      background-color: #ffffff;
      padding: 50px 0;
      text-align: center;
    }

    .section h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }

    .section p {
      font-size: 18px;
    }

    .section img {
      max-width: 100%;
      height: auto;
      margin-top: 30px;
    }

    /* Estilos para los botones */
    .btn-primary {
      background-color: #ff3333; /* Color naranja */
      border-color: #FF5733; /* Borde del mismo color */
    }

    .btn-primary:hover {
      background-color: #FF8C61; /* Cambio de color al pasar el ratón */
      border-color: #FF8C61;
    }

    .btn-success {
      background-color: #28A745; /* Color verde */
      border-color: #28A745; /* Borde del mismo color */
    }

    .btn-success:hover {
      background-color: #5FD16D; /* Cambio de color al pasar el ratón */
      border-color: #5FD16D;
    }

    /* Centrar el video */
    #video-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #video-container iframe {
      max-width: 100%;
      height: 650px;
    }
  </style>
</head>

<body>

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Carousel de ejemplo -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Aquí va el código del carousel -->
  </div>

  <!-- Texto descriptivo 1 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-container">
          <h2>¡Bienvenido a Ineffabile Pizza!</h2>
          <p>Descubre el auténtico sabor italiano con nuestras pizzas artesanales, elaboradas con los mejores ingredientes frescos y horneadas a la perfección.</p>
          <img src="/images/logo4.png" alt="Pizza" />
        </div>
      </div>
    </div>
  </div>

  <!-- Video destacado -->
  <div id="video-container" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2>¡Mira cómo hacemos nuestras deliciosas pizzas!</h2>
          <iframe width="1000" height="650" src="https://www.youtube.com/embed/Fbrg90LGSs8?si=qAUndZO2QousLfLt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Texto descriptivo 2 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-container">
          <h2>¡Haz tu pedido ahora!</h2>
          <p>Disfruta de la comodidad de ordenar desde casa y recibir nuestras deliciosas pizzas directamente en tu puerta. ¡No te pierdas nuestras ofertas especiales!</p>
          <div class="container center-form">  
            <div class="row">
              <!-- Botones de opciones -->
              <div class="col-md text-center">
                <a href="/productos/pizzas" class="btn btn-primary btn-lg">Pizzas</a>
              </div>
              <div class="col-md text-center">
                <a href="/productos/pastas" class="btn btn-primary btn-lg">Pastas</a>
              </div>
              <div class="col-md text-center">
                <a href="/productos/complementos" class="btn btn-primary btn-lg">Complementos</a>
              </div>
              <div class="col-md text-center">
                <a href="/productos/bebidas" class="btn btn-primary btn-lg">Bebidas</a>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              
              <!-- Botón para volver arriba -->
              <button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
              
              <!-- Footer -->
              <%- include('./partials/footer.ejs') %>
              
              <script src="/fontawesome/js/all.min.js"></script>
              <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
              <!-- Elimina una de las siguientes líneas dependiendo de tus necesidades -->
              <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script -->
              <script src="/js/bootstrap.bundle.min.js"></script>
              <script>
                // Función para mostrar u ocultar el botón de volver arriba
                window.onscroll = function() {scrollFunction()};
              
                function scrollFunction() {
                  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("scrollToTopBtn").style.display = "block";
                  } else {
                    document.getElementById("scrollToTopBtn").style.display = "none";
                  }
              
                  // Aparecer los contenedores de texto gradualmente al hacer scroll
                  var textContainers = document.querySelectorAll('.text-container');
                  textContainers.forEach(function(container) {
                    if (isElementInViewport(container)) {
                      container.classList.add('visible');
                    }
                  });
                }
              
                // Función para verificar si un elemento está visible en la ventana
                function isElementInViewport(el) {
                  var rect = el.getBoundingClientRect();
                  return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                  );
                }
              
                // Función para hacer scroll suave hacia arriba al hacer clic en el botón
                document.getElementById("scrollToTopBtn").addEventListener("click", function() {
                  scrollToTop();
                });
              
                function scrollToTop() {
                  const body = document.getElementsByTagName("body")[0];
                  body.scrollIntoView({ behavior: "smooth" });
                }
              </script>
              </body>
              </html>
              