<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/cookie-popup.css">
</head>

<body>
  <%- include('./cookie-popup.ejs') %>
  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Carousel de ejemplo -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Aquí va el código del carousel -->
  </div>

  <!-- Texto descriptivo 1 -->
  <div class="section visible">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 fadeIn">
          <h2>¡Bienvenido a Ineffabile Pizza!</h2>
          <p>Descubre el auténtico sabor italiano con nuestras pizzas artesanales, elaboradas con los mejores ingredientes frescos y horneadas a la perfección.</p>
          <img src="/images/logo4_modified.png" alt="Pizza" style="width: 200px;"/>
        </div>
      </div>
    </div>
  </div>

  <!-- Texto descriptivo 2 -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2>¡Haz tu pedido ahora!</h2>
          <p>Disfruta de la comodidad de ordenar desde casa y recibir nuestras deliciosas pizzas directamente en tu puerta. ¡No te pierdas nuestras ofertas especiales!</p>
          <div class="container center-form">  
            <div class="row">
              <!-- Botones de opciones -->
              <div class="col-md text-center">
                <a href="/productos/pizzas" class="btn btn-primary btn-lg">Pizzas</a>
              </div>
              <div class="col-md text-center">
                <a href="/productos/pastas" class="btn btn-primary btn-lg">Pastas</a>
              </div>
              <div class="col-md text-center">
                <a href="/productos/complementos" class="btn btn-primary btn-lg">Complementos</a>
              </div>
              <div class="col-md text-center">
                <a href="/productos/bebidas" class="btn btn-primary btn-lg">Bebidas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Video destacado -->
  <div id="video-container" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2>¡Mira cómo hacemos nuestras deliciosas pizzas!</h2>
          <iframe width="1000" height="650" src="https://www.youtube.com/embed/Fbrg90LGSs8?si=qAUndZO2QousLfLt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón de WhatsApp -->
  <a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>
              
  <!-- Botón para volver arriba -->
  <button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
              
  <!-- Footer -->
  <%- include('./partials/footer.ejs') %>
              
  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <!-- Elimina una de las siguientes líneas dependiendo de tus necesidades -->
  <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    // Función para mostrar u ocultar el botón de volver arriba y los elementos al hacer scroll
    window.onscroll = function() {scrollFunction()};
  
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("scrollToTopBtn").style.display = "block";
      } else {
        document.getElementById("scrollToTopBtn").style.display = "none";
      }

      // Aparecer los elementos gradualmente al hacer scroll
      var sections = document.querySelectorAll('.section');
      sections.forEach(function(section) {
        if (isSectionInViewport(section)) {
          section.classList.add('visible');
        }
      });
    }
  
    // Función para verificar si una sección está visible en la ventana
    function isSectionInViewport(section) {
      var rect = section.getBoundingClientRect();
      var windowHeight = window.innerHeight || document.documentElement.clientHeight;
      // Verificar si la sección está al menos 20% visible
      return rect.top <= windowHeight * 0.8;
    }
  
    // Función para hacer scroll suave hacia arriba al hacer clic en el botón
    document.getElementById("scrollToTopBtn").addEventListener("click", function() {
      scrollToTop()
    })
  
    function scrollToTop() {
      const body = document.getElementsByTagName("body")[0];
      body.scrollIntoView({ behavior: "smooth" });
    }
  </script>
  <script src="/js/cookie-popup.js"></script>
</body>
</html>