<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <style>
    body{
      background-color: #FBAB7E;
      background-image: linear-gradient(62deg, #ed8932 0%, #F7CE68 100%);
    }

    #video-container {
    border: 2px solid #ffffff;
    padding: 150px;
    max-width: 80%;
    text-align: center;
    margin: 50px auto 150px; /* Modificado el margen superior y el margen inferior */
    height: 750px; /* Ajustado el tamaño de altura del contenedor */
  }
    #carouselExampleIndicators{
      margin-top: 10px; /* Ajusta según sea necesario */
      background-color: black;
    }
    .carousel-item img {
      max-height: 370px; /* Ajusta la altura según sea necesario */
      margin: auto;
    }
    #scrollToTopBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      border-radius: 50%;
    }
  </style>
  </style>
</head>

<body>

  <!-- Incluir el navbar -->
<%- include('./partials/navbar.ejs') %>

<!-- Carousel de ejemplo -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/banner2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/logo-prueba.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/logo-prueba.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<!-- Div vacío con bordes y texto "Video" -->
<div id="video-container">
  Video
</div>

<button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>

<div class="container mt-3">
  <!-- Menú desplegable de categorías 
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoriasDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu fade" aria-labelledby="categoriasDropdown">
      <h6 class="dropdown-header">Categoría 1</h6>
      <a class="dropdown-item" href="#">Subcategoría 1.1</a>
      <a class="dropdown-item" href="#">Subcategoría 1.2</a>
      <div class="dropdown-divider"></div>
      
      <h6 class="dropdown-header">Categoría 2</h6>
      <a class="dropdown-item" href="#">Subcategoría 2.1</a>
      <a class="dropdown-item" href="#">Subcategoría 2.2</a>
    </div>
  </div>-->
</div>

<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>


  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <!-- Elimina una de las siguientes líneas dependiendo de tus necesidades -->
  <!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    // Función para mostrar u ocultar el botón de volver arriba
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("scrollToTopBtn").style.display = "block";
      } else {
        document.getElementById("scrollToTopBtn").style.display = "none";
      }
    }

    // Función para hacer scroll suave hacia arriba al hacer clic en el botón
    document.getElementById("scrollToTopBtn").addEventListener("click", function() {
      scrollToTop();
    });

    function scrollToTop() {
      const body = document.getElementsByTagName("body")[0];
      body.scrollIntoView({ behavior: "smooth" });
    }
  </script>
</body>
</html>
