<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <title>Bienvenido de nuevo - Ineffabile Pizza</title>
</head>
<style>
    #logo {
        width: 150px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
</style>
<body>
    <div class="container-form register hide">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>¿Ya tiene una cuenta? Pulse a continuación para acceder.</p>
                <input type="button" value="Iniciar Sesión" id="sign-in">
                <a href="/"><img src="/images/logos/logo3_onlypizza.png" alt="Logo" id="logo"></a>
                <br>
                <a href="/" class="back-button">Volver</a>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <div class="icons">
                    <a href="/api/v2/usuarios/auth/google" class="google-icon"><i class='bx bxl-google'></i></a>
                    <a href="/api/v2/usuarios/auth/github" class="github-icon"><i class='bx bxl-github'></i></a>
                </div>
                <div class="separator"></div>
                <form class="form" action="/api/v2/usuarios/register" method="POST">
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre" name="nombre" required>
                    </label>
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Apellido" name="apellido" required>
                    </label>
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre de usuario" name="username" required>
                    </label>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Correo Electronico" name="email" required>
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Contraseña" name="password" id="passwordRegister" required>
                        <i class='bx bxs-show' id="togglePasswordRegister"></i>
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Repetir Contraseña" name="repeatPassword" id="repeatPasswordRegister" required>
                        <i class='bx bxs-show' id="toggleRepeatPasswordRegister"></i>
                    </label>
                    <label>
                        <i class='bx bx-phone'></i>
                        <input type="tel" placeholder="Teléfono" name="telefono" required>
                    </label>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>
    </div>


    <div class="container-form login">
        <div class="information">
            <div class="info-childs">
                <h2>¡Bienvenido de nuevo!</h2>
                <p>¿Todavía no se ha registrado? Pruebe a hacerlo gratis</p>
                <input type="button" value="Registrarse" id="sign-up">
                <a href="/"><img src="/images/logos/logo3_onlypizza.png" alt="Logo" id="logo" style="width: 170px;"></a>
                <br>
                <br>
                <a href="/" class="back-button">Volver</a>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar Sesión</h2>
                <form class="form" action="/api/v2/usuarios/login" method="POST">
                    <label>
                        <i class='bx bx-envelope'></i> <i class='bx bx-user'></i>
                        <input type="text" placeholder="Email o Username" name="login" required>
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Contraseña" name="password" id="passwordLogin" required>
                        <i class='bx bxs-show' id="togglePasswordLogin"></i>
                    </label>
                    <input type="submit" value="Iniciar Sesión">
                </form>
                <!-- Mostrar mensaje de error si existe -->
                <% if (typeof error !== 'undefined') { %>
                  <div class="error-message">
                    <%= error %>
                  </div>
                <% } %>
                <div class="separator"></div>
                <div class="icons">
                    <a href="/api/v2/usuarios/auth/google" class="google-icon"><i class='bx bxl-google'></i></a>
                    <a href="/api/v2/usuarios/auth/github" class="github-icon"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="/fontawesome/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const btnSignIn = document.getElementById("sign-in"),
              btnSignUp = document.getElementById("sign-up"),
              formRegister = document.querySelector(".register"),
              formLogin = document.querySelector(".login");

        btnSignIn.addEventListener("click", e => {
            document.title = "Iniciar Sesión";
            formRegister.classList.add("hide");
            formLogin.classList.remove("hide")
        });

        btnSignUp.addEventListener("click", e => {
            document.title = "Registro";
            formLogin.classList.add("hide");
            formRegister.classList.remove("hide")
        });
    </script>
    <script>
        // Función para alternar la visibilidad de la contraseña y cambiar el ícono del ojo
        function togglePasswordVisibility(inputField, toggleButton) {
            const type = inputField.getAttribute("type") === "password" ? "text" : "password";
            inputField.setAttribute("type", type);
            toggleButton.classList.toggle("bxs-hide");
        }

        // Obtener elementos relevantes del DOM
        const togglePasswordRegister = document.getElementById("togglePasswordRegister");
        const passwordRegister = document.getElementById("passwordRegister");
        const togglePasswordLogin = document.getElementById("togglePasswordLogin");
        const passwordLogin = document.getElementById("passwordLogin");

        // Agregar listeners para alternar la visibilidad de la contraseña al hacer clic en el ícono del ojo
        togglePasswordRegister.addEventListener("click", function() {
            togglePasswordVisibility(passwordRegister, this);
        });

        togglePasswordLogin.addEventListener("click", function() {
            togglePasswordVisibility(passwordLogin, this);
        });
    </script>
</body>
</html>
