<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Localización</title>
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
    <style>
        #map { height: 1080px; }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="/leaflet/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var map = L.map('map').setView([38.63944449527361, -0.8644422700067568], 13); // Nuevas coordenadas y nivel de zoom

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            L.marker([38.63944449527361, -0.8644422700067568]).addTo(map)
                .bindPopup('Mi Local')
                .openPopup();
        });
    </script>
</body>
</html>
