<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Pedidos</title>
</head>
<body>
    <h1>Mis Pedidos</h1>
    <% if (pedidos.length > 0) { %>
        <% pedidos.forEach(pedido => { %>
            <div>
                <h3>Pedido realizado el <%= pedido.fecha.toDateString() %></h3>
                <p>Total: <%= pedido.total %></p>
                <p>Estado: <%= pedido.estadoPedido_status %></p>
                <ul>
                    <% pedido.productos_nombre.forEach(producto => { %>
                        <li><%= producto %></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
    <% } else { %>
        <p>No tienes pedidos.</p>
    <% } %>
</body>
</html>