<!-- views/contact.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="/css/productos.css">
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido del formulario -->
  <div class="container center-form">
    <h2 class="text-center mb-4">¿Qué te apetece hoy?</h2>

    <div class="row">
      <!-- Botones de opciones -->
      <div class="col-md text-center">
        <a href="/productos/pizzas" class="btn btn-primary btn-lg">Pizzas</a>
      </div>
      <div class="col-md text-center">
        <a href="/productos/pastas" class="btn btn-primary btn-lg">Pastas</a>
      </div>
      <div class="col-md text-center">
        <a href="/productos/complementos" class="btn btn-primary btn-lg">Complementos</a>
      </div>
      <div class="col-md text-center">
        <a href="/productos/bebidas" class="btn btn-primary btn-lg">Bebidas</a>
      </div>
    </div>

    <!-- Botón "Ver Carta" -->
    <div class="text-center mt-4">
      <a href="/carta" target="_blank" class="btn btn-success btn-lg">Ver Carta</a>
    </div>
  </div>
  <br>
  <br>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
