<!--<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
    <h1>Resultados de la búsqueda</h1>
    <ul>
        <% resultados.forEach(function(resultado) { %>
            <li>
                <a href="#" class="producto-nombre" data-producto-id="<%= resultado._id %>"><%= resultado.nombre %></a>
            </li>
        <% }); %>
    </ul>

    <div class="modal fade" id="productoModal" tabindex="-1" role="dialog" aria-labelledby="productoModalLabel" aria-hidden="true">
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.producto-nombre').click(function(event) {
            event.preventDefault();
            const productoId = $(this).data('producto-id');
            // Realiza una solicitud al servidor para obtener los detalles del producto por su ID
            $.get(`/api/v2/productos/getProductDetailByID/${productoId}`, function(data) {
                // Llena el contenido del modal con los detalles del producto
                $('#productoModal .modal-content').html(data);
                // Muestra el modal
                $('#productoModal').modal('show');
            });
        });
    });
</script>
</html>-->
