<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Personal - Ineffabile Pizza</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido, <%= userLogued.nombre %> <%= userLogued.apellido %></h1>
        <!-- Botón de logout -->
        <form action="/usuarios/logout" method="POST">
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>        
    </div>
    <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>  
</body>
</html>