<!-- views/newsletter-success.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje enviado</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido específico de la vista de éxito -->
  <div class="container mt-5">
    <h1 class="text-success">¡Tu reseña ha sido registrada exitosamente!</h1>
    <p class="lead">Gracias por tu valoración</p>
    <!-- Puedes agregar más contenido aquí según sea necesario -->
  </div>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <!-- Al final del cuerpo, antes de cerrar el body, incluir los scripts necesarios -->
  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    // Muestra la alerta de éxito con temporizador de 3 segundos
    Swal.fire({
        icon: 'success',
        title: 'Valoración Enviada',
        text: 'Tu valoración ha sido enviada correctamente. ¡Gracias!',
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
        didOpen: () => {
          Swal.showLoading();
        },
    });
  </script>
</body>
</html>
