<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valóranos - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
  <link rel="stylesheet" href="/css/valoraciones.css">
  <link rel="stylesheet" href="/css/whatsupto.css">
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido del formulario -->
  <div class="container center-form fadeIn">
    <form class="custom-form" action="/valoraciones" method="post">
      <br>
      <br>
      <br>
      <h1 class="text-center mb-4"><u>Valoraciones</u></h1>
        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="tucorreo@example.com" required>
        </div>

      <div class="form-group">
        <label for="rating">Valoración:</label>
        <div class="rating">
          <input type="radio" id="star5" name="rating" value="5" required><label for="star5"></label>
          <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
          <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
          <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Comentarios:</label>
        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Escribe tus comentarios aquí" required minlength="20" maxlength="400"></textarea>
        <small class="form-text message-info">Tu opinión es muy importante para nosotros. Por favor, asegúrate de que tu mensaje tenga al menos 20 caracteres y un máximo de 400.</small>
      </div>

      <button type="submit" class="btn btn-primary">Enviar Valoración</button>
    </form>
  </div>
  <br>
  <br>
  
  <a href="https://wa.me/+34637053805?text=Contactar%20con%20Ineffabile%20Pizza%20vía%20WhatsApp" class="whatsapp" target="_blank"> 
    <i class="fab fa-whatsapp whatsapp-icon"></i>
  </a>
              
  <!-- Botón para volver arriba -->
  <button id="scrollToTopBtn" title="Volver arriba"><i class="fas fa-arrow-up"></i></button>
    

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("scrollToTopBtn").style.display = "block";
      } else {
        document.getElementById("scrollToTopBtn").style.display = "none";
      }
      var sections = document.querySelectorAll('.section');
        sections.forEach(function(section) {
          if (isSectionInViewport(section)) {
            section.classList.add('visible');
          }
        });
      }
  
      document.getElementById("scrollToTopBtn").addEventListener("click", function() {
        scrollToTop()
      })
  
      function scrollToTop() {
        const body = document.getElementsByTagName("body")[0];
        body.scrollIntoView({ behavior: "smooth" });
      }
    </script>
</body>
</html>
