<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valóranos - Ineffabile Pizza</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">


  <!-- Agregar cualquier otro estilo necesario -->

  <!-- Estilo personalizado para centrar el formulario y ajustar el tamaño -->
  <style>
    .center-form {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 10vh; /* Ajusta la altura mínima para centrar el formulario */
    }

    .custom-form {
      max-width: 800px; /* Ajusta el ancho máximo del formulario */
      width: 100%;
    }

    .img-fluid {
      width: 100px;
      height: 100px;
    }
    
    .form-group {
      margin-bottom: 20px; /* Ajusta el espacio entre campos del formulario */
    }

    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
    }

    .rating input {
      display: none;
    }

    .rating label {
      cursor: pointer;
    }

    .rating label:before {
      content: "\2605";
      font-size: 2.5em;
      color: #ccc;
    }

    .rating input:checked ~ label:before {
      color: #ffcc00;
    }

    .rating input:checked ~ label:hover:before,
    .rating input:not(:checked):hover ~ label:before {
      color: #ffcc00;
    }

    .rating label:hover:before {
      color: #ccc;
    }

    .message-info {
      font-style: italic;
      color: #6c757d;
    }

    @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease forwards;
  }

  </style>
</head>

<body class="bg-light">

  <!-- Incluir el navbar -->
  <%- include('./partials/navbar.ejs') %>

  <!-- Contenido del formulario -->
  <div class="container center-form fadeIn">
    <form class="custom-form" action="/valoraciones" method="post">
      <br>
      <br>
      <h1 class="text-center mb-4"><u>Valoraciones</u></h2>

      <div class="form-group">
        <label for="rating">Valoración:</label>
        <div class="rating">
          <input type="radio" id="star5" name="rating" value="5" required><label for="star5"></label>
          <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
          <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
          <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Comentarios:</label>
        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Escribe tus comentarios aquí" required minlength="20" maxlength="400"></textarea>
        <small class="form-text message-info">Tu opinión es muy importante para nosotros. Por favor, asegúrate de que tu mensaje tenga al menos 20 caracteres y un máximo de 400.</small>
      </div>

      <button type="submit" class="btn btn-primary">Enviar Valoración</button>
    </form>
  </div>
  <br>
  <br>

  <!-- Incluir el footer -->
  <%- include('./partials/footer.ejs') %>

  <script src="/fontawesome/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
