#slogan {
    font-family: 'Flamenco', cursive; /* Aplica la fuente Flamenco al div del eslogan */
  }

  /* Opcional: si deseas que el resto del texto tenga una fuente diferente, puedes aplicarla a nivel global */
  body {
    font-family: Arial, sans-serif; /* Otra fuente para el resto del texto */
  }

  img{
    border-radius: 10px;
  }

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

header {
  text-align: center;
  margin-top: 20px;
}