@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease forwards;
  }

  /* Estilos para el formulario de pago */
  #payment-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #card-element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
  }

  #card-errors {
    color: #f72c2c;
    margin-top: 10px;
  }

  #pay-button {
    width: 100%;
    margin-top: 20px;
  }

  #payment-form button[type="submit"] {
    width: 100%;
  }

  .btn-cooldown {
    width: 100%;
  }