.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-form {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.contact-info img {
  width: 100px;
  height: 100px;
}

.img-fluid-map {
  width: 100px;
  height: 100px;
}

.img-fluid-phone,
.img-fluid-calendario,
.img-fluid-email {
  width: 90px;
  height: 90px;
}

.form-group {
  margin-bottom: 20px;
}

#map {
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}