.cookie-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.cookie-content {
    text-align: center;
}

.cookie-options div {
    margin: 10px;
    position: relative;
}

.cookie-details {
    display: none;
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.expand-details {
    cursor: pointer;
    color: blue;
    margin-left: 10px;
}

.cookie-buttons .cookie-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cookie-buttons .cookie-button.accept {
    background-color: #4CAF50; /* Green */
    color: white;
}

.cookie-buttons .cookie-button.reject {
    background-color: #f44336; /* Red */
    color: white;
}

.cookie-buttons .cookie-button:hover {
    opacity: 0.8;
}
