/* Estilos base para el footer */
.footer {
    position: static; /* El footer sigue el flujo natural del documento */
    width: 100%; /* Ocupa todo el ancho de la página */
    padding: 40px 0; /* Espaciado vertical ajustado */
    background: linear-gradient(to right, #ff925f, #feb47b, #fcd8ba);
    background-size: 200% 100%;
    animation: gradientAnimation 5s ease infinite alternate-reverse;
    color: #000000; /* Color de texto */
    z-index: 10; /* Reducido para no superponerse sobre elementos flotantes */
  }
  
  .footer a {
    color: #000000; /* Mantenemos el rojo para los enlaces */
    transition: color 0.3s ease; /* Suavidad al cambiar de color */
  }
  
  .footer a:hover {
    color: #dd2222; /* Un rojo más oscuro al pasar el ratón */
    text-decoration: none; /* Sin subrayado al pasar el ratón */
  }
  
  .footer h5 {
    color: #000000; /* Títulos en blanco */
    border-bottom: 1px solid #ff3333; /* Línea debajo del título para destacarlo */
    padding-bottom: 10px; /* Espacio bajo el título */
  }
  
  /* Estilos para las listas */
  .footer ul {
    list-style: none; /* Sin viñetas */
    padding-left: 0; /* Sin padding a la izquierda */
  }
  
  .footer ul li {
    padding: 5px 0; /* Espaciado entre elementos de la lista */
  }
  
  /* Diseño responsivo para el formulario de suscripción */
  .footer .input-group {
    margin-top: 10px; /* Espacio arriba del grupo de entrada */
  }
  
  .footer .btn-outline-danger {
    color: #000000; /* Texto blanco en el botón */
    border-color: #000000; /* Borde blanco */
  }
  
  .footer .btn-outline-danger:hover {
    background-color: #ff3333; /* Fondo rojo al pasar el ratón */
    border-color: #ff3333; /* Borde del mismo color */
  }
  
  /* Iconos de redes sociales con sus colores específicos */
.social-icon .fa-instagram {
    color: #C13584; /* Instagram: gradiente rosa-morado */
  }
  
  .social-icon .fa-x-twitter {
    color: #000000; /* Twitter: azul claro */
  }
  
  .social-icon .fa-youtube {
    color: #FF0000; /* YouTube: rojo */
  }
  
  .social-icon .fa-facebook-f {
    color: #1877F2; /* Facebook: azul */
  }
  
  .social-icon .fa-linkedin-in {
    color: #0077B5; /* LinkedIn: azul oscuro */
  }
  
  .social-icon {
    margin: 0 10px; /* Espaciado horizontal */
  }
  
  .social-icon:hover {
    opacity: 0.8; /* Efecto de transparencia al pasar el ratón */
  }
  
  /* Estilo para el texto de derechos de autor */
  .footer .footer-text {
    background-color: transparent; /* Quitamos el fondo oscuro redundante */
    color: #000000; /* Aseguramos el texto blanco */
    margin-top: 20px; /* Espacio arriba del texto */
    padding: 10px 0; /* Padding vertical para el texto */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation: fadeIn 1s ease forwards;
  }