@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease forwards;
}

.img-small {
  max-width: 50%; /* Puedes ajustar el porcentaje según el tamaño deseado */
  height: auto;
}

.img-separation {
  margin-right: 120px; /* Espacio horizontal entre las imágenes */
}

