@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease forwards;
}

.img-separation {
  margin-right: 120px; /* Espacio horizontal entre las imágenes */
}