body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #f7f7f7 0%, #ffffff 100%);
    color: #333333; /* Texto principal en negro */
  }

  /* Estilos para el texto descriptivo */
  .section {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
    opacity: 0; /* El contenido no es visible inicialmente */
    transition: opacity 1s ease-in-out; /* Efecto de transición */
  }

  /* Mostrar el contenido gradualmente cuando el usuario haga scroll */
  .visible {
    opacity: 1 !important;
  }

  .section h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .section p {
    font-size: 18px;
  }

  /* Centrar el video */
  #video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #video-container iframe {
    max-width: 100%;
    height: 650px;
  }

  #scrollToTopBtn {       
    display: none;       
    position: fixed;       
    bottom: 20px;       
    right: 20px;       
    z-index: 99;       
    font-size: 18px;       
    border: none;       
    outline: none;       
    background-color: #ff3333;       
    color: white;       
    cursor: pointer;       
    border-radius: 50%;     
  }

  .btn-lg {
    font-size: 1.2rem; /* Reducir el tamaño de fuente */
    padding: 10px 20px; /* Reducir el padding */
    border-radius: 10px;
    margin: 10px; /* Mantener el margen */
    transition: transform 0.3s ease-in-out;
  }

  .btn-lg:hover {
    transform: scale(1.1);
  }

  .btn-primary {
    background-color: #ff3333;
    border-color: #ff3333;
  }

  .btn-primary:hover {
    background-color: #ff6a6a;
    border-color: #ff6a6a;
  }

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 6px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 25px; /* Menos redondeado que 50px */
  text-align: center;
  font-size: 34px;
  z-index: 100;
  box-shadow: 2px 2px 3px #999; /* Opcional: sombra para resaltar el botón */
}

.whatsapp-icon {
  margin-top: 13px;
}