* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-image: url(../images/background-login2.png);
      background-size: cover;
  }
  
  .container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
  }
  
  .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #e93333;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-childs {
    width: 100%;
    padding: 0 30px;
  }
  
  .info-childs h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .info-childs p {
    margin: 15px 0 ;
    color: #555;
  }
  
  .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #e7c01f;
    border-radius: 20px;
    padding: 10px 20px;
    color: #e7c01f;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .info-childs input:hover {
    background-color: #e7c01f;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .form-information-childs {
    padding: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  .form-information-childs h2 {
    color: #333;
    font-size: 2rem;
  }
  
  .form-information-childs p {
    color: #555;
  }
  
  .icons {
    margin: 15px 0;
  }
  
  .icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #e7c01f;
    border: solid thin #e7c01f;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .icons i:hover {
    background-color: #c7c7f3;
    color: #fff;
  }
  
  .form {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    width: 100%;
}
  
.form label input {
    width: calc(100% - 40px); /* Ajuste para compensar el padding en el label */
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
  
  .form label i {
    color: #a7a7a7;
  }
  
  .form input[type="submit"] {
    background-color: #e7c01f;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    width: calc(100% - 40px); /* Ajuste para compensar el padding en el formulario */
}
  
  .form input[type="submit"]:hover {
    background-color: #b8f051;
  }
  
  .hide {
    position: absolute;
    transform: translateY(-300%);
  }

  .back-button {
    background-color: transparent;
    border: solid 2px #e7c01f;
    border-radius: 20px;
    padding: 10px 20px;
    color: #e7c01f;
    text-decoration: none;
    transition: background-color .3s ease;
}

.back-button:hover {
    background-color: #e7c01f;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
  
  /*RESPONSIVE FORM*/
  
  @media screen and (max-width:750px) {
    html {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:580px) {
    html {
      font-size: 10px;
    }
  
    .container-form {
      height: auto;
      flex-direction: column;
    }
  
    .information {
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0;
    }
  
    .form-information {
      width: 100%;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
    }
    .back-button {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    } 
    #logo {
      width: 150px; /* Reducir el tamaño del logo para dispositivos pequeños */
      margin-bottom: 20px; /* Añadir margen inferior para separar el logo del botón */
    }
  
    .info-childs input {
      width: 100%; /* Asegurarse de que el ancho del botón sea del 100% para ocupar todo el espacio disponible */
    }
  }
  
 #logo {
    width: 250px; /* Ajusta el tamaño según lo necesario */
}
