.navbar {
  position: fixed; /* Hace el navbar fijo */
  top: 0; /* Se queda en la parte superior */
  width: 100%; /* Ocupa todo el ancho de la página */
  height: 120px; /* Altura reducida del navbar */
  background: linear-gradient(to right, #ff925f, #feb47b, #fcd8ba);
  background-size: 200% 100%;
  animation: gradientAnimation 5s ease infinite alternate-reverse;
  z-index: 1000; /* Asegura que el navbar se mantenga por encima de otros elementos */
}

.navbar-brand img {
  height: 100px; /* Altura ajustada del logo */
  width: auto; /* Mantiene la proporción del logo */
}

.navbar-search input {
  width: 300px; /* Ancho reducido del input de búsqueda */
}

#uele > .nav-item{
  margin: auto;
  margin-left: 30px;
  margin-right: 10px;
}

.separator {
  border-right: 1px solid #000000;
  padding-right: 5px;
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Agrega espacio a la izquierda */
}

.navbar-search button {
  background-color: transparent;
  border: none;
  margin-left: -40px; /* Ajusta el margen para superponer el icono de búsqueda en el input */
}

#navbarDropdown {
  margin-left: 60px;
  margin-right: 20px;
}

/* Asegúrate de que los enlaces en el menú desplegable se alineen verticalmente */
.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente en dispositivos móviles */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-nav {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .nav-item {
    width: 100%; /* Asegura que cada elemento del nav ocupe el ancho completo */
    text-align: center; /* Centra el texto de cada enlace */
  }

  .dropdown-menu {
    text-align: left; /* Alinea el texto a la izquierda en los submenús */
    width: 100%; /* Hace que el menú desplegable ocupe todo el ancho */
  }
}

.navbar-toggler {
  margin-right: 15px; /* Añade un margen para evitar que se pegue a otros elementos */
}

/* Ajustes específicos para dispositivos con relación de aspecto alrededor de 912 x 1368 */
@media (max-width: 990px) {
  .navbar {
    height: auto; /* Ajusta la altura del navbar */
    padding: 10px 0; /* Agrega algo de padding para no saturar los elementos */
  }

  .navbar-brand img {
    height: 110px; /* Ajusta la altura del logo */
  }

  .navbar-toggler {
    margin-right: 10px; /* Ajusta el margen del botón del menú */
  }

  .navbar-search input {
    width: 100%; /* Asegura que el campo de búsqueda use todo el ancho disponible */
  }
}



@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
  .navbar-brand {
    display: block; /* Asegura que el logo se muestre */
    text-align: center; /* Centra el logo horizontalmente */
  }
  .navbar-brand img {
    content: url('../images/logo3_onlypizza.png');
    height: 95px; /* Reduce aún más el tamaño del logo */
    width: auto; /* Mantiene la proporción del logo */
    margin-left: 70px;
    display: inline-block; /* Asegura que el logo no ocupe todo el ancho disponible */
  }
}

.navbar-search input {
  width: 100%; /* Ocupa todo el espacio disponible en pantallas pequeñas */
}
@media (min-width: 768px) {
  .navbar-search input {
    width: 300px; /* Ancho fijo en pantallas grandes */
  }
}

.navbar-toggler {
  border-color: rgba(255,255,255,0.5); /* Asegúrate de que sea visible contra el fondo */
}



@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}