#filterMenu select.form-select {
    cursor: pointer;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 0.25rem;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}
.mb-3 i {
    margin-right: 5px;
}