body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.upload-icon {
  position: absolute;
  top: 120px;
  left: 60%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 2px solid #dc3545;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: #dc3545;
}

.upload-icon:hover {
  background-color: #dc3545;
  color: #ffffff;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.1rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: 1.2rem;
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.welcome-title {
  font-size: 2rem;
  color: #dc3545;
  margin-bottom: 20px;
}

#profilePic {
  display: none;
}

#uploadBtn {
  display: none; /* Ocultar el botón por defecto */
}

#uploadLabel {
  display: block;
  text-align: center;
  margin-top: 10px;
}

#uploadIcon {
  display: block;
  margin: 0 auto;
}