body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }

  .container {
    padding: 20px;
  }

  .page-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem; /* Tamaño grande para el título */
    color: #ff3333; /* Color rojo para el título */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-weight: bold; /* Texto en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
    margin-bottom: 30px;
    position: relative; /* Necesario para el pseudo-elemento */
  }
  
  .page-title::after {
    content: ''; /* Contenido vacío */
    display: block;
    width: 50px; /* Ancho de la línea decorativa */
    height: 5px; /* Altura de la línea decorativa */
    background-color: #FAC171; /* Color de la línea decorativa */
    margin: 10px auto 0; /* Espaciado */
  }
  

  .btn-lg {
    font-size: 1.2rem; /* Reducir el tamaño de fuente */
    padding: 10px 20px; /* Reducir el padding */
    border-radius: 10px;
    margin: 10px; /* Mantener el margen */
    transition: transform 0.3s ease-in-out;
  }

  .btn-lg:hover {
    transform: scale(1.1);
  }

  .btn-primary {
    background-color: #ff3333;
    border-color: #ff3333;
  }


  .btn-primary:hover {
    background-color: #ff6a6a;
    border-color: #ff6a6a;
  }

  .product {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  /*.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }*/

  .breadcrumb {
    background-color: transparent; /* Elimina cualquier fondo predeterminado */
  }
  
  .breadcrumb-item a {
    color: #ff3333; /* Establece el color de los enlaces a rojo */
  }


  .product img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre el área disponible sin perder la proporción */
  }
  
  .product:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .price {
    font-size: 16px;
    color: #28a745; /* Verde para el precio en oferta */
    margin-bottom: 5px;
  }

  .original-price {
    text-decoration: line-through;
    color: #ccc; /* Color para el precio original tachado */
    margin-right: 10px;
  }

  .discount-price {
    color: #dc3545; /* Rojo para el precio de descuento */
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .btn-details,
  .btn-add-to-cart {
    flex: 1;
    padding: 3px;
    border: 1px solid #ff3333;
    border-radius: 5px;
    background-color: #ff3333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    transition: background-color 0.3s ease-in-out;
  }

  .center-form {
    max-width: 960px; /* Ajusta según necesites */
    margin: auto; /* Centra el contenedor */
  }
  

  .btn-add-to-cart:hover {
    background-color: #ff6a6a;
    color: #f8f9fa;
  }

  .btn-details:hover {
    background-color: #ff6a6a;
    color: #f8f9fa;
  }

  .img-carousel {
    max-width: 65%; /* Ajusta este valor según lo que necesites */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }

  .modal-pizza-title {
    font-size: 24px;
    color: #333; /* Color oscuro para el título */
    font-weight: bold;
    margin-top: 10px;
  }
  
  .modal-pizza-description {
    font-size: 16px;
    color: #555; /* Color gris oscuro para la descripción */
    margin-bottom: 20px;
  }
  
  .modal-pizza-price {
    font-size: 20px; /* Tamaño grande para el precio */
    font-weight: bold;
    color: #000000; /* Manteniendo el verde del badge */
  }
  
  .badge {
    font-size: 1em; /* Tamaño adecuado para el badge dentro del modal */
    padding: 0.5em 0.75em; /* Padding cómodo para el badge */
  }

  .product img {
    width: 100%;   /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto;  /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre el área disponible sin perder la proporción */
  }
  

  @media (max-width: 768px) { /* Para dispositivos de hasta 768px como tablets */
    .product {
      padding: 15px; /* Reduce el padding en dispositivos más pequeños */
      margin-bottom: 15px; /* Reduce el margen entre productos */
    }
  }
  

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}