body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }

  h2 {
    color: black;
  }

  .center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
  }

  .btn-lg {
    font-size: 1.5rem;
    padding: 20px 40px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .btn-lg:hover {
    transform: scale(1.1);
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  h2 {
    color: #007bff;
    margin-bottom: 20px;
  }