body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.container {
  padding: 20px;
}

h1 {
  color: #000000;
  margin-bottom: 30px;
}

.carousel-inner img {
  height: 300px; /* Altura ajustada para enfocar la atención en las imágenes del carrusel */
  object-fit: cover;
}

.product {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  width: 100%; /* Asegura que la imagen ocupa todo el ancho del contenedor */
  height: 200px;
  object-fit: cover;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  color: #28a745;
  margin-bottom: 5px;
}

.discount-price {
  background-color: #dc3545; /* Rojo oscuro, típico de las alertas de "descuento" */
  color: white; /* Texto en blanco para contraste */
  padding: 5px 10px; /* Padding para dar forma a la etiqueta */
  border-radius: 5px; /* Bordes redondeados para suavizar la etiqueta */
  font-weight: bold; /* Hacer el texto un poco más grueso */
  font-size: 20px;
}

.original-price {
  text-decoration: line-through;
  font-weight: bold;
  color: #ccc; /* Gris para mostrar que es un precio no aplicable */
  margin-right: 10px;
}

.btn-primary {
  background-color: #ff3333;
  border-color: #ff3333;
}

.btn-primary:hover {
  background-color: #ff6a6a;
  border-color: #ff6a6a;
}
