.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh; /* Ajusta la altura mínima para centrar el formulario */
  }

  .custom-form {
    max-width: 800px; /* Ajusta el ancho máximo del formulario */
    width: 100%;
  }

  .img-fluid {
    width: 100px;
    height: 100px;
  }
  
  .form-group {
    margin-bottom: 20px; /* Ajusta el espacio entre campos del formulario */
  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }

  .rating input {
    display: none;
  }

  .rating label {
    cursor: pointer;
  }

  .rating label:before {
    transition: color 0.2s ease-in-out;
    content: "\2605";
    font-size: 2.5em;
    color: #ccc;
  }

  .rating input:checked ~ label:before {
    color: #ffcc00;
  }

  .rating input:checked ~ label:hover:before,
  .rating input:not(:checked):hover ~ label:before {
    color: #ffcc00;
  }

  .rating label:hover:before,
.rating label:hover ~ label:before {
    color: #ffcc00;
}

  .message-info {
    font-style: italic;
    color: #6c757d;
  }

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}