<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
  <div class="toolbar" role="banner">
    <div class="col-sm-6">
      <h4>
        <!-- Utiliza la etiqueta img para mostrar el logo -->
        <img src="./assets/logo5.png" alt="Logo" style="width: 160px; height: 160px; padding-top: 7px;" (click)="HomeClick()">
      </h4>
    </div>
    <div class="col-sm-6">
      <span class="user"><b><i class='fas fa-user'></i> Zona ADMIN</b></span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>