<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
    <div class="toolbar" role="banner">
    <div class="col-sm-6">
      <h4>
        <i (click)="HomeClick()">
            <img src="../assets/logo4.png" alt="Logo" style="width: 80px; height: 80px;">
        </i>
    </h4>
    
    </div>
    <div class="col-sm-6">
      <span class="user"><b><i class='fas fa-user'></i> Zona ADMIN</b></span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
